<%= turbo_frame_tag 'questions' do %>
  <div class="min-w-full">
    <table class="mi_table">
      <thead class="mi_thead">
        <tr>
          <th class="header_th">  </th>
          <th class="header_th">  </th>
          <th class="header_th">Question</th>
          <th class="header_th">Answer</th>
        </tr>
      </thead>
      <tbody>
        <% @config_questions_no_edit.each do |q| %>
          <tr class="mi_tbody_tr">
            <td></td>
            <td></td>
            <td class="mi_tbody_td">
              <%= q.question %>
            </td>
            <td class="mi_tbody_td">
              <%= q.answer if q.answer.present? %>
            </td>
          </tr>
        <% end %>
        <% @config_questions_edit.each do |q| %>
          <tr class="mi_tbody_tr">
            <td class="mi_tbody_td">
            <% unless email_was_sent?("FacultySurvey", @faculty_survey) %>
                <%= link_to "Delete", faculty_survey_config_question_path(@faculty_survey, q), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete}, class: "link_to" %>
              <% end %>
            </td>
            <td class="mi_tbody_td">
            <% unless email_was_sent?("FacultySurvey", @faculty_survey) %>
                <%= link_to 'Edit', edit_faculty_survey_config_question_path(@faculty_survey, q), class: "link_to" %>
              <% end %>
            </td>
            <td class="mi_tbody_td">
              <%= q.question %>
            </td>
            <td class="mi_tbody_td">
              <%= q.answer if q.answer.present? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
