<div id="<%= dom_id site_contact %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= site_contact.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= site_contact.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= site_contact.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= site_contact.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= site_contact.email %>
  </p>

</div>
