<div id="<%= dom_id student %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Uniqname:</strong>
    <%= student.uniqname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= student.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= student.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mvr expiration date:</strong>
    <%= student.mvr_expiration_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Class training date:</strong>
    <%= student.class_training_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Canvas course complete date:</strong>
    <%= student.canvas_course_complete_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meeting with admin date:</strong>
    <%= student.meeting_with_admin_date %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this student", student, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this student', edit_student_path(student), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
