<%= turbo_frame_tag 'sites' do %>
  <div class="min-w-full">
    <table class="mi_table">
      <thead class="border border-l-0 border-r-0 border-gray-um60">
        <tr>
          <th class="header_th">Site title</th>
          <th class="header_th">Address</th>
          <th class="header_th"></th>
          <th class="header_th"></th>
        </tr>
      </thead>
      <tbody>
        <% @sites.each do |site| %>
          <tr class="mi_tbody_tr">
            <td class="mi_tbody_td">
              <%= link_to site.title, site_path(site), class: "link_to" %>
            </td>
            <td class="mi_tbody_td">
              <%= site.address %>
            </td>
            <td>
              <%= link_to 'Edit', edit_program_site_path(@site_program, site), class: "link_to" %>
            </td>
            <td>
              <%= link_to 'Remove', remove_site_from_program_path(@site_program, site), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "link_to" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
