<%= turbo_frame_tag 'terms' do %>
  <div class="min-w-full">
    <table class="mi_table">
      <thead class="border border-l-0 border-r-0 border-gray-um60">
        <tr>
          <th class="header_th">Name</th>
          <th class="header_th">Code</th>
          <th class="header_th">Term Begin</th>
          <th class="header_th">Term End</th>
        </tr>
      </thead>
      <tbody>
        <% @terms.each do |term| %>
          <tr class="mi_tbody_tr">
            <td class="mi_tbody_td">
              <%= link_to term.name, term_path(term), class: "link_to", data: {turbo_frame: "_top"} %>
            </td>
            <td class="mi_tbody_td">
              <%= term.code %>
            </td>
            <td class="mi_tbody_td">
              <%= show_date(term.classes_begin_date) %>
            </td>
            <td class="mi_tbody_td">
              <%= show_date(term.classes_end_date) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
