<%= form_for [@program, ConfigQuestion.new], html: { class: "sm:flex sm:items-center" } do |form| %>


  <div class="flex flex-col">
    <div class="px-1 pb-2 my-2 flex items-center text-sm text-gray-900">
      <div class="field">
        <%= form.label :question %>
        <%= form.rich_text_area :question %>
      </div>
    </div>

  </div>

  <div>
    <%= form.submit "Add Question", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>


<% if @program.config_questions.present? %>
  <% @program.config_questions.each do |config_question| %>
    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
      <div class="w-0 flex-1 flex items-center">
        <i class="fas fa-link text-gray-400"></i>
        <span class="ml-2 flex-1 w-0 truncate">
          <%= link_to config_question.question, config_question_path(config_question) %>
        </span>
      </div>
      
        <div class="ml-4 flex-shrink-0 flex space-x-4">
          <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <%= link_to 'Remove', remove_config_question_path(@program, config_question), method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
        </div>
    </li>
  <% end %>
<% else %>
  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
    <div class="w-0 flex-1 flex items-center">
      <span class="ml-2 flex-1 w-0 truncate">
        you currently do not have any config_questions.
      </span>
    </div>
  </li>
<% end %>