<%= form_with(model: program, class: "contents") do |form| %>
  <% if program.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
        <% program.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :active %>
    <%= form.check_box :active, class: "check_box" %>
  </div>

  <div class="my-5">
    <%= form.label :title, class: "fancy_label" %> *
    <%= form.text_field :title, required: true, placeholder: "Title", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :term_id, class: "fancy_label" %> *
    <%= form.collection_select :term_id, @terms, :id, :name, { include_blank: "Select ...", required: true }, { class: "input_text_field" } %>
  </div>

  <div class="my-5">
    <%= form.label :subject, class: "fancy_label" %> *
    <%= form.text_field :subject, required: true, placeholder: "Subject", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :catalog_number, class: "fancy_label" %> *
    <%= form.text_field :catalog_number, required: true, placeholder: "Catalog number", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :class_section, class: "fancy_label" %> *
    <%= form.text_field :class_section, required: true, placeholder: "Class section", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.fields_for :instructor, @instructor do |instructor_attributes| %>
      <%= form.label :uniqname, "Instructor's uniqname", class: "fancy_label" %> *
      <%= instructor_attributes.text_field :uniqname, required: true, placeholder: "Uniqname", class: "input_text_field" %>
    <% end %>
  </div>

  <div class="px-1 pb-2">
    <%= label_tag(:managers, "Do you want to add managers to this program?") %>
    <%= check_box_tag :managers, 1, false, class: "check_box" %>
  </div>

  <div class="px-1 pb-2">
    <%= label_tag(:config_questions, "Do you want to send the instructor a survey with questions about the program?") %>
    <%= check_box_tag :config_questions, 1, false, class: "check_box" %>
  </div>

  <div class="my-5">
    <%= form.label :number_of_students, class: "fancy_label" %>
    <%= form.number_field :number_of_students, placeholder: "Number", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :number_of_students_using_ride_share, class: "fancy_label" %>
    <%= form.number_field :number_of_students_using_ride_share, placeholder: "Number", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :pictures_required_start %>
    <%= form.check_box :pictures_required_start, class: "check_box" %>
  </div>

  <div class="my-5">
    <%= form.label :pictures_required_end %>
    <%= form.check_box :pictures_required_end, class: "check_box" %>
  </div>

  <div class="my-5">
    <%= form.label :non_uofm_passengers %>
    <%= form.check_box :non_uofm_passengers, class: "check_box" %>
  </div>

  <%= form.hidden_field :updated_by, value: current_user.id %>
  <%= form.hidden_field :admin_access_id, value: AdminAccess.first.id %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
