<%= form_with(model: program, class: "contents",
  data: { controller: "program",
          target: "form",
          action: "submit->program#submitForm",
          turbo_frame: "_top"
        }) do |form| %>
  <% if program.errors.any? %>
    <div id="error_explanation" class="text-red-umred px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>
      <ul>
        <% program.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, 'Title *', class: "fancy_label" %>
    <%= form.text_field :title, required: true, placeholder: "Title", class: "input_text_field" %>
  </div>

  <% unless is_manager?(current_user) || @units.count == 1 %>
    <div class="my-5">
      <%= form.label :unit_id, 'Unit *', class: "fancy_label" %>
      <%= form.collection_select :unit_id, @units, :id, :name, { required: true }, { class: "input_text_field" } %>
    </div>
  <% else %>
    <%= form.hidden_field :unit_id, value: @units[0].id %>
  <% end %>

  <div class="my-5">
    <%= form.label :term_id, 'Term *', class: "fancy_label" %>
    <%= form.collection_select :term_id, @terms, :id, :name, { include_blank: "Select ...", required: true }, { class: "input_text_field" } %>
  </div>

  <p class="body-sm-text pb-2">
    You can add course(s) information to the program after you submit the form. Or
  </p>

  <div>
    <div class="px-1 pb-2">
      <%= form.check_box :not_course, class: "check_box", "data-program-target": "hide_course_data", "data-action": "program#hideCourseFields" %>
      <%= form.label :not_course, "Check if this program is not a course" %>
    </div>

  </div>

  <div class="my-5" id="instructor">
    <%= form.fields_for :instructor, @instructor do |instructor_attributes| %>
      <%= form.label :instructor_attributes_uniqname, "Instructor's uniqname *", class: "fancy_label" %>
      <%= instructor_attributes.text_field :uniqname, required: true, placeholder: "Uniqname", class: "input_text_field" %>
    <% end %>
  </div>
  <%= turbo_frame_tag 'instructor_error_text', autoscroll: "true", data: { autoscroll_block: "start" } do %>
    <%= render 'validation_uniqname' %>
  <% end %>

  <div class="px-1 pb-2">
    <%= form.check_box :add_managers, class: "check_box" %>
    <%= form.label :add_managers, "Do you want to add managers to this program?" %>
  </div>

  <% if program.persisted? %>
    <div class="my-5">
      <%= form.label :number_of_students_using_ride_share, class: "fancy_label" %>
      <%= form.number_field :number_of_students_using_ride_share, placeholder: "Number", class: "input_text_field" %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :mvr_link, 'MVR Link *', class: "fancy_label" %>
    <%= form.text_field :mvr_link, required: true, placeholder: "MVR Link", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :canvas_link, 'Canvas Course Link *', class: "fancy_label" %>
    <%= form.text_field :canvas_link, required: true, placeholder: "Canvas Course Link", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :canvas_course_id, 'Canvas Course Number *', class: "fancy_label" %>
    <%= form.number_field :canvas_course_id, required: true, placeholder: "Canvas Course Number", class: "input_text_field" %>
  </div>

  <p class="body-sm-text">
    Please check if the following options are required
  </p>

  <div class="my-5">
    <%= form.check_box :pictures_required_start, class: "check_box" %>
    <%= form.label :pictures_required_start, 'Users are required to add pictures at beginning of their trip' %>
  </div>

  <div class="my-5">
    <%= form.check_box :pictures_required_end, class: "check_box" %>
    <%= form.label :pictures_required_end, 'Users are required to add pictures at end of their trip' %>
  </div>

  <div class="my-5">
    <%= form.check_box :non_uofm_passengers, class: "check_box" %>
    <%= form.label :non_uofm_passengers, 'Reservation can include non U-M passengers' %>
  </div>

  <%= form.hidden_field :updated_by, value: current_user.id %>
  <% if @duplicate_program_id.present? %> 
    <%= form.hidden_field :duplicate_program_id, value: @duplicate_program_id %>
  <% end %>

  <div class="inline">
    <%= form.submit class: "primary_button" %>
  </div>
  <% if program.persisted? %>
    <%= link_to program_data_path(program) do %>
      <span class="tertiary_button">Cancel
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
  <% else %>
    <%= link_to programs_path do %>
      <span class="tertiary_button">Cancel
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
  <% end %>
<% end %>
