<%= form_with(model: program, class: "contents") do |form| %>
  <% if program.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
        <% program.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :active %>
    <%= form.check_box :active, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :title %> *
    <%= form.text_field :title, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :term_id %> *
    <%= form.collection_select :term_id, @terms, :id, :name, { include_blank: "Select ...", required: true }, { class: "block rounded-none rounded-l-md text-base border-gray-300" } %>
  </div>

  <div class="my-5">
    <%= form.label :subject %> *
    <%= form.text_field :subject, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :catalog_number %> *
    <%= form.text_field :catalog_number, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :class_section %> *
    <%= form.text_field :class_section, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.fields_for :instructor, @instructor do |instructor_attributes| %>
      <%= form.label :uniqname %> *
      <%= instructor_attributes.text_field :uniqname, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :number_of_students %>
    <%= form.number_field :number_of_students, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :number_of_students_using_ride_share %>
    <%= form.number_field :number_of_students_using_ride_share, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :pictures_required_start %>
    <%= form.check_box :pictures_required_start, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :pictures_required_end %>
    <%= form.check_box :pictures_required_end, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :non_uofm_passengers %>
    <%= form.check_box :non_uofm_passengers, class: "block mt-2 h-5 w-5" %>
  </div>

  <%= form.hidden_field :updated_by, value: current_user.id %>
  <%= form.hidden_field :admin_access_id, value: AdminAccess.first.id %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
