<%= turbo_frame_tag dom_id(program) do  %>
  <h2 class="sr-only">Building</h2>
  <div class="mt-2 mb-3 px-2 sm:px-0">
    <%= link_to program_path(program), data: { "turbo-frame": "_top" } do %>
      <div class="text-xs px-2 font-bold hover:underline">
        <%= link_to program_path(program), data: { "turbo-frame": "_top" } do %>
          <%= program.subject.upcase %> <%= program.catalog_number.titleize %> - <%= program.class_section.titleize %>
        <% end %>
      </div>
      <div class="text-xs px-2">
        Instructor - <%= program.instructor.uniqname%>
      </div>
    <% end %>
  </div>
  <div>
    <% if current_user %>
      <%= link_to edit_program_path(program), data: { "turbo-frame": "_top" } do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
          <title>Edit program</title>
        </svg>
      <% end %>
    <% end %>
  </div>
<% end %>