<div class="mt-2">
  <p class="body-sm-bold-text">
    <%= program.display_name %>
  </p>

  <div class="py-2">
    <p class="body-lg-bold-text inline">
      Unit:
    </p>
    <p class="body-lg-text ml-2 inline">
      <%= program.unit.name %>
    </p>
  </div>

  <div class="py-2">
    <p class="body-lg-bold-text inline">
      Term:
    </p>
    <p class="body-lg-text ml-2 inline">
      <%= program.term.name %>
    </p>
  </div>

  <div class="py-2">
    <p class="body-lg-bold-text inline">
      Instructor:
    </p>
    <p class="body-lg-text ml-2 inline">
      <%= program.instructor.display_name %>
    </p>
  </div>

  <div class="py-2">
    <p class="body-lg-bold-text inline">
      Number of students:
    </p>
    <p class="body-lg-text ml-2 inline">
      <%= number_of_students(program) %>
    </p>
  </div>

  <div class="py-2">
    <p class="body-lg-bold-text inline">
      Number of students using ride share:
    </p>
    <p class="body-lg-text ml-2 inline">
      <%= number_of_students_using_ride_share(program) %>
    </p>
  </div>

  <div class="py-2">
    <p class="body-lg-bold-text inline">
      MVR link:
    </p>
    <p class="body-lg-text ml-2 inline">
      <%= program.mvr_link %>
    </p>
  </div>

  <div class="py-2">
    <p class="body-lg-bold-text inline">
      Canvas course link:
    </p>
    <p class="body-lg-text ml-2 inline">
      <%= program.canvas_link %>
    </p>
  </div>
  <% if program.additional_options.present? %>
    <div class="pt-2">
      <p class="body-lg-bold-text flex-none">
        Additional options:
      </p>
      <p class="body-lg-text ml-2">
        <%= sanitize program.additional_options %>
      </p>
    </div>
  <% end %>
</div>
