<%= turbo_frame_tag dom_id(program) do  %>
  <div class="md:flex flex-col justify-between h-full">
    <div class="m-2 mb-3 sm:px-0">
        <div class="text-xs  font-bold hover:underline">
          <%= link_to program_path(program), data: { "turbo-frame": "_top" } do %>
            <h3>
              <%= program.title %>
            </h3>
            <p class="body-lg-medium-text">
              <%= program.unit.name %>
            </p>
            <p class="body-lg-medium-text">
              <%= program.display_name %>
            </p>
          <% end %>
        </div>
        <p class="body-md-bold-text pt-4">
          Instructor - <%= program.instructor.uniqname%>
        </p>
    </div>
    <div class="pb-2">
      <% if current_user %>
        <div class="flex flex-row justify-between">
          <div class="tertiary_button">
            <% if Term.current_and_future.include?(program.term) %>
              <%= link_to program_data_path(program), data: { "turbo-frame": "_top" } do %>
                Edit
                <i class="fa-solid fa-pen"></i>
              <% end %>
            <% end %>
          </div>
          <% if is_admin?(current_user) %>
            <div class="tertiary_button">
              <%= link_to duplicate_path(program), data: { "turbo-frame": "_top" } do %>
                Duplicate
                <i class="fa-solid fa-clone"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
