<div class="flex flex-col lg:flex-row mx-2 gap-4">
  <div class="flex-none">
    <div class="body-md-text ml-2">
      <%= program.display_name %>
    </div>

    <div class="py-2">
      <label class="text_field_label">
      Term
      </label>
      <div class="body-md-text ml-2">
        <%= program.term.name %>
      </div>
    </div>

    <div class="py-2">
      <label class="text_field_label">
      Instructor
      </label>
      <div class="body-md-text ml-2">
        <%= program.instructor.display_name %>
      </div>
    </div>

    <div class="py-2">
      <label class="text_field_label">
      Number of students
      </label>
      <div class="body-md-text ml-2">
        <%= program.number_of_students %>
      </div>
    </div>

    <div class="py-2">
      <label class="text_field_label">
      Number of students using ride share
      </label>
      <div class="body-md-text ml-2">
        <%= program.number_of_students_using_ride_share %>
      </div>
    </div>

    <div class="py-2">
      <label class="text_field_label">
      MVR link
      </label>
      <div class="body-md-text ml-2">
        <%= program.mvr_link %>
      </div>
    </div>

    <div class="py-2">
      <label class="text_field_label">
      Canvas course link
      </label>
      <div class="body-md-text ml-2">
        <%= program.canvas_link %>
      </div>
    </div>
  </div>
  <div class="py-2">
    <% if program_config_data(program).present? %>
      <label class="text_field_label">
      Additional options
      </label>
      <div class="body-md-text ml-2">
        <%= sanitize program_config_data(program)%>
      </div>
    <% end %>
  </div>

</div>
