<div class="mx-auto w-full">

  <div class="lg:flex justify-between">
    <div>
      <div class="flex items-end gap-2">
        <h1><%= @program.title %></h1>
        <div>
          <%= link_to edit_program_path(@program) do %>
            <span class="tertiary_button"> 
            Edit Course Information
            <i class="fa-solid fa-pen" aria-hidden="true"></i>
            </span>
          <% end %>
        </div>
      </div>
      <div class="mt-2">
        <%= render @program %>
      </div>
    </div>
    <div class="mt-4 flex-none">
      <div>
        <%= link_to program_path(@program) do %>
          <span class="primary_button mb-2">
            <i class="fa-solid fa-circle-xmark" aria-hidden="true"></i>
            Exit Edit Page
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div>
      <%= render 'program_car' %>
      <%= render 'program_site' %>
      <% if @program.add_managers %>
        <%= render 'program_manager' %>
      <% end %>
  </div>
  <p class="body-text m-4">
    <%= updated_on_and_by(@program) %>
  </p>

</div>
