<div class="mx-auto md:w-2/3 w-full">
  <div>
    <%= render @program %>
  </div>
  <h2>Cars Available</h2>
  <div>
    <%= turbo_frame_tag "cars_list" do %>
      <%= render "cars_list", locals: { program: @program} %>
    <% end %>
  </div>
  <h2>Sites</h2>
  <div>
    <%= turbo_frame_tag "sites_list" do %>
      <%= render "sites_list", locals: { program: @program} %>
    <% end %>
  </div>

  <div>
    <%= turbo_frame_tag "managers_list" do %>
      <%= render "managers_list", locals: { program: @program} %>
    <% end %>
  </div>
</div>

