<div class="mx-auto w-full">
  <h1><%= @program.title %></h1>
  <div>
    <div class="grid grid-cols-1 lg:grid-cols-3">
      <div class="grid lg:col-span-2">
        <%= render @program %>
      </div>
      <div class="lg:flex lg:flex-col">
        <div class="lg:grid lg:justify-items-end">
          <div class="py-2">
            <%= link_to 'Edit Program', program_data_path(@program), class: "primary_button" %>
          </div>
          <div class="py-2">
            <%= link_to 'Students List', program_students_path(@program), class: "secondary_blue_button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2>Cars Available</h2>
    <div>
      <%= turbo_frame_tag "cars_list" do %>
        <%= render "cars_list", locals: { program: @program} %>
      <% end %>
    </div>
    <h2>Sites</h2>
    <div>
      <%= turbo_frame_tag "sites_list" do %>
        <%= render "sites_list", locals: { program: @program} %>
      <% end %>
    </div>

    <% if @program.add_managers %>
      <h2>Managers</h2>
      <div>
        <%= turbo_frame_tag "managers_list" do %>
          <%= render "managers_list", locals: { program: @program} %>
        <% end %>
      </div>
    <% end %>
  </div>
  <p class="body-text m-4">
    <%= updated_on_and_by(@program) %>
  </p>
</div>
