<div class="mx-auto w-full">
  <div class="md:flex justify-between items-center pb-4">
    <h1><%= @program.title %></h1>
    <div class="lg:grid lg:justify-items-end whitespace-nowrap">
      <% if Term.current_and_future.include?(@program.term) %>
        <div class="py-2">
          <%= link_to 'Edit Program', edit_program_path(@program), class: "primary_button" %>
        </div>
      <% end %>
      <% if policy(Program).show? %>
        <div class="py-2">
          <%= link_to 'Students List - Update MVR & Roster', program_students_path(@program, :update => "mvr_roster"), class: "secondary_blue_button" %>
        </div>
        <div class="py-2">
          <%= link_to 'Students List - Update Roster', program_students_path(@program, :update => "roster"), class: "secondary_blue_button" %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <div class="">
      <%= render @program %>
    <div>
      <%= turbo_frame_tag "sites_list" do %>
        <%= render 'program_site' %>
      <% end %>
    </div>

    <% if @program.add_managers %>
      <%= render 'program_manager' %>
    <% end %>
  </div>
  <p class="body-sm-text m-4">
    <%= updated_on_and_by(@program) %>
  </p>
</div>
