<%= form_with model: [@manager],
  data: { controller: "autosubmit", autosubmit_target: "form" } do |form| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation" class="text-red-umred px-3 py-2 font-medium rounded-lg mt-3">
      <h3><%= pluralize(@manager.errors.count, "error") %> prohibited this @manager from being saved:</h3>
      <ul>
        <% @manager.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
      <%= form.label :canvas_course_complete_date, class: "fancy_label" %>
      <%= form.date_field :canvas_course_complete_date, class: "input_text_field" %>
    </div>

    <div class="my-5">
      <%= form.label :meeting_with_admin_date, "In Person Orientation Date:", class: "fancy_label" %>
      <%= form.date_field :meeting_with_admin_date, class: "input_text_field" %>
    </div>

    <div class="inline">
      <%= form.submit class: "secondary_blue_button" %>
    </div>
    <%= link_to managers_path(@manager) do %>
      <span class="tertiary_button">Cancel
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
<% end %>
