<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>
     New transportation reservation for (<%= "#{@start_time} - #{@end_time}" %>) has been submitted.
    </h3>

    <p> Reservation for:  <%= link_to "#{@reservation.display_name}", reservation_url(@reservation) %> </p>
    <p>
      Reservation Summary:
      <ul>
        <li>DATE: <%= "#{@start_time} - #{@end_time}" %></li>
        <% if @recurring_rule.present? %>
          <li>RECURRING: <%= @recurring_rule %></li>
        <% end %>
        <% if @reservation.car.present? %>
          <li>VEHICLE #: <%= @reservation.car.car_number %></li>
        <% else %>
          <li>VEHICLE #: No car selected</li>
        <% end %>
        <li>SITE: <%= @reservation.site.title %> </li>
        <li>PROGRAM: <%= @reservation.program.title %></li>
        <li>DRIVER: <%= @driver_name %> </li>
        <li>BACKUP DRIVER: <%= @backup_driver_name %> </li>
      </ul>
      Passengers:
      <ul>
        <% @passengers.each do |p| %>
          <li> <%= p %> </li>
        <% end %>
      </ul>
      <% if @non_uofm_passengers.present? %>
        Non UofM Passengers:
        <ul><li>
          <%= @non_uofm_passengers %>
        </li></ul>
      <% end %>
    </p>
    <p>
      To view/modify/cancel reservations, click here
      <%= link_to "LSA RideShare", reservations_url %>
    </p>
  </body>
</html>
