<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>
      The transportation reservation for (<%= "#{@start_time} - #{@end_time}" %>) has been updated. Please look at the new data.
    </h4>
    <p>
      Please email <%= @unit_email %> or call the office at: <%= @contact_phone %> if you have any questions.
    </p>
    <p> Reservation for:  <%= link_to "#{@reservation.display_name}", reservation_url(@reservation) %> </p>
    <p>
      Reservation Summary:
      <ul>
        <li>DATE: <%= "#{@start_time} - #{@end_time}" %></li>
        <% if @recurring_rule.present? %>
          <li>RECURRING: <%= @recurring_rule %></li>
        <% end %>
        <% if @reservation.car.present? %>
          <li>VEHICLE #: <%= @reservation.car.car_number %></li>
        <% else %>
          <li>VEHICLE #: No car selected</li>
        <% end %>
        <li>SITE: <%= @reservation.site.title %></li>
        <li>PROGRAM: <%= @reservation.program.title %></li>
        <li>DRIVER: <%= @driver_name %></li>
        <% if @reservation.backup_driver.present? %>
          <li>BACKUP DRIVER: <%= @backup_driver_name %></li>
        <% end %>
      </ul>
      Passengers:
      <ul>
        <% @passengers.each do |p| %>
          <li> <%= p %> </li>
        <% end %>
      </ul>
      <% if @non_uofm_passengers.present? %>
        Non UofM Passengers:
        <ul><li>
          <%= @non_uofm_passengers %>
        </li></ul>
      <% end %>
    </p>
    <p>
      Visit <%= link_to "LSA RideShare", all_root_url %> to view, modify, or cancel reservations.
    </p>
    <%= render 'garage_service' %>
  </body>
</html>
