<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Hello <%= @reservation.driver.first_name %>,</p>
    <p>
      This is a reminder of your upcoming reservation for today at <%= @start_time.partition(' ').last %> going to <%= @reservation.site.title %>. 
    </p>
    <p>
      Backup driver: <%= @backup_driver_name %>
    <br>
      Passengers:
      <ul>
        <% @passengers.each do |p| %>
          <li> <%= p %> </li>
        <% end %>
      </ul>
      <% if @non_uofm_passengers.present? %>
        Non UofM Passengers: 
        <ul><li>
          <%= @non_uofm_passengers %>
        </li></ul>
      <% end %>
    </p>
    
    <p>If you have changes or need to cancel this reservation please go <%= link_to "HERE", reservation_url(@reservation) %> to do so. 
      <br>Also, please remember to fill out your Vehicle Report at the start of your trip.   
    </p>

    <p>
    Thank you,<br>
    Your <%= @reservation.program.unit.name %> RideShare Team
    </p>
    <p>
      You can email <%= @unit_email %> or call the office at: <%= @contact_phone %>.
    </p>
    <p>
      To view/modify/cancel reservations, click here
      <%= link_to "LSA RideShare", welcome_pages_student_url %>
    </p>
    <%= render 'garage_service' %> 
    <p>
      That was an automated email.
      You received it because you are a driver in the LSA RideShare application.
      You can unsubscribe from automated notifications <%= link_to "HERE", mailer_subscriptions_url %>.
    </p>
  </body>
</html>
