<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= raw(@message) %>
    </p>
    <p>
      Thank you,<br>
      Your <%= @reservation.program.unit.name %> RideShare Team
    </p>
    <p> 
      Reservation for:  <%= link_to "#{@reservation.display_name}", reservation_url(@reservation) %> summary:
      <ul>
        <li>DATE: <%= "#{@start_time} - #{@end_time}" %></li>
        <% if @reservation.car.present? %>
          <li>VEHICLE #: <%= @reservation.car.car_number %></li>
        <% else %>
          <li>VEHICLE #: No car selected</li>
        <% end %>
        <li>SITE: <%= @reservation.site.title %> </li>
        <li>PROGRAM: <%= @reservation.program.title %></li>
        <li>DRIVER: <%= @driver_name %> </li>
        <li>BACKUP DRIVER: <%= @backup_driver_name %> </li>
      </ul>
      Passengers:
      <ul>
        <% @passengers.each do |p| %>
          <li> <%= p %> </li>
        <% end %>
      </ul>
      <% if @non_uofm_passengers.present? %>
        Non UofM Passengers: 
        <ul><li>
          <%= @non_uofm_passengers %>
        </li></ul>
      <% end %>
    </p>
    <p>
      You can email <%= @unit_email %> or call the office at: <%= @contact_phone %>.
    </p>
    <p>
      Click here to 
      <%= link_to "view/modify/cancel", welcome_pages_student_url %> 
      reservations.
    </p>
  </body>
</html>
