<!-- turning off turbo for the form is necessary - otherwise the browser doesn't download the csv properly -->
<%= form_with url: report_url, method: :get, data: { controller: "systemreport", systemreport_target: "form", action: "submit->systemreport#submitForm" } do |form| %>
  <div class="nowrap">
    <div class="md:flex-col gap-2">
      <div class="flex gap-2">
        <% if session[:unit_ids].count > 1 %>
          <div class="">
            <label for="unit_id" class="fancy_label">Select a Unit *</label>
            <%= select_tag "unit_id", options_from_collection_for_select(@units, :id, :name, selected: params[:unit_id]), include_blank: "Select...", class: "filter_select w-48", "data-systemreport-target": "unit", "data-action": "change->systemreport#changePrograms", required: true %>
          </div>
        <% else %>
          <input type="hidden" id="unit_id" name="unit_id" value=<%= session[:unit_ids].first %> data-systemreport-target="unit">
        <% end %>
        <div class="">
          <label for="term_id" class="fancy_label">Select a Term *</label>
          <%= select_tag "term_id", options_from_collection_for_select(@terms, :id, :name, selected: @term_id), include_blank: "Select ...", class: "filter_select w-48", "data-systemreport-target": "term", "data-action": "change->systemreport#changePrograms", required: true %>
        </div>
        <div class="">
          <label for="program_id" class="fancy_label">Select a Program</label>
          <%= select_tag "program_id", options_from_collection_for_select(@programs, :id, :title, selected: params[:program_id]), include_blank: "All Programs", class: "filter_select w-96", "data-systemreport-target": "program", "data-action": "change->systemreport#getStudents" %>
        </div>
      </div>
      <% if @show_student_filter %>
        <div class="flex gap-2">
          <div class="">
            <label for="student_id" class="fancy_label">Select a Student</label>
            <%= select_tag "student_id", options_from_collection_for_select(@students, :id, :name, selected: params[:student_id]), include_blank: "Select ...", class: "filter_select w-96", "data-systemreport-target": "student" %>
          </div>
          <div class="body-sm-text place-self-end">
            OR
          </div>
          <div class="">
            <label for="uniqname" class="fancy_label">Type a Uniqname</label>
            <%= text_field_tag(:uniqname, nil, { class: "input_text_field text-sm leading-4", placeholder: "Uniqname", "data-systemreport-target": "uniqname" }) %>
          </div>
        </div>
      <% end %>
      <div id="error_text" class="error_text mt-2"></div>
    </div>

    <!-- define additional specific fields inside a block when using render -->
    
    <div class="mb-4">
      <label for="format" class="fancy_label">Select Display Type</label>
      <%= select_tag :format, options_for_select({"Display in a browser" => "html", "Export to CSV" => "csv"}, "Display in a browser"), required: true, class: "filter_select w-48" %>
    </div>
  </div>
  <%= form.hidden_field :report_type, value: @report_type, "data-systemreport-target": "report_type" %>
  <div class="flex gap-3">
    <%= form.submit "Run Report", class: "primary_button" %>
    <button type="button" data-action='click->systemreport#clearFilters'>
      <span class="tertiary_button">Clear Filters
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </button>
  </div>
<% end %>
