<!-- turning off turbo for the form is necessary - otherwise the browser doesn't download the csv properly -->
<%= form_with url: report_url, method: :get, data: { controller: "systemreport", systemreport_target: "form", action: "submit->systemreport#submitForm" } do |form| %>
  <div class="nowrap">
    <div class="md:flex-col gap-2">
      <div class="flex gap-2">
        <% if session[:unit_ids].count > 1 %>
          <div class="">
            <label for="unit_id" class="fancy_label">Select a Unit *</label>
            <% if @show_program_filter %>
              <%= select_tag "unit_id", options_from_collection_for_select(@units, :id, :name, selected: params[:unit_id]), include_blank: "Select...", class: "filter_select w-48", "data-systemreport-target": "unit", "data-action": "change->systemreport#changePrograms", required: true %>
            <% else %>
              <%= select_tag "unit_id", options_from_collection_for_select(@units, :id, :name, selected: params[:unit_id]), include_blank: "Select...", class: "filter_select w-48", "data-systemreport-target": "unit", required: true %>
            <% end %>
          </div>
        <% else %>
          <input type="hidden" id="unit_id" name="unit_id" value=<%= session[:unit_ids].first %> data-systemreport-target="unit">
        <% end %>
        <div class="">
          <label for="term_id" class="fancy_label">Select a Term *</label>
          <% if @show_program_filter %>
            <%= select_tag "term_id", options_from_collection_for_select(@terms, :id, :name, selected: @term_id), include_blank: "Select...", class: "filter_select w-48", "data-systemreport-target": "term", "data-action": "change->systemreport#changePrograms", required: true %>
          <% else %>
            <%= select_tag "term_id", options_from_collection_for_select(@terms, :id, :name, selected: @term_id), include_blank: "Select...", class: "filter_select w-48", "data-systemreport-target": "term", required: true %>
          <% end %>
        </div>
        <% if @show_program_filter %>
          <div class="">
            <label for="program_id" class="fancy_label">Select a Program</label>
            <%= select_tag "program_id", options_from_collection_for_select(@programs, :id, :title, selected: params[:program_id]), include_blank: "All Programs", class: "filter_select w-96", "data-systemreport-target": "program", "data-action": "change->systemreport#getStudents" %>
          </div>
        <% end %>
      </div>
      <div class="flex gap-4 mb-4">
        <% if @show_date_filters %>
          <div>
            <%= form.label :from, "Choose a Start Date", class: "fancy_label" %>
            <%= text_field_tag :from, params[:from] || 1.week.ago.to_date, max: Date.today,
              data: {
              controller: "flatpickr",
              flatpickr_date_format: "Y-m-d",
              },
              class: "filter_select w-48"
            %>
          </div>
          <div>
            <%= form.label :to, "Choose an End Date", class: "fancy_label" %>
            <%= text_field_tag :to, params[:to] || Date.today, max: Date.today,
              data: {
              controller: "flatpickr",
              flatpickr_date_format: "Y-m-d",
              },
              class: "filter_select w-48"
            %>
          </div>
        <% end %>
      </div>
      <% if @show_student_filter %>
        <div class="flex gap-2">
          <div class="">
            <label for="student_id" class="fancy_label">Select a Student</label>
            <%= select_tag "student_id", options_from_collection_for_select(@students, :id, :name, selected: params[:student_id]), include_blank: "Select ...", class: "filter_select w-96", "data-systemreport-target": "student" %>
          </div>
          <div class="body-sm-text place-self-end">
            OR
          </div>
          <div class="">
            <label for="uniqname" class="fancy_label">Type a Uniqname</label>
            <%= text_field_tag(:uniqname, nil, { class: "input_text_field text-sm leading-4", placeholder: "Uniqname", "data-systemreport-target": "uniqname" }) %>
          </div>
        </div>
      <% end %>
      <div id="error_text" class="error_text mt-2"></div>
    </div>

    <div class="mb-4">
      <label for="format" class="fancy_label">Select Display Type</label>
      <%= select_tag :format, options_for_select({"Display in a browser" => "html", "Export to CSV" => "csv"}, "Display in a browser"), required: true, class: "filter_select w-48", :"data-action" => "change->systemreport#saveLink", "data-systemreport-target": "format", disabled: false %>
    </div>
  </div>
  <%= form.hidden_field :report_type, value: @report_type, "data-systemreport-target": "report_type" %>
  <input type="hidden" data-systemreport-target="reportRun" value="false">
  <div class="flex gap-3">
    <div class="my-2 fields--display" data-systemreport-target="run_report_button">
      <%= form.submit "Run Report", data: { disable_with: false }, method: :get, class: "primary_button" %>
    </div>
    <div class="fields--hide my-4" data-systemreport-target="download_report_button">
      <a id="csv_link" href="" class="primary_button opacity-50 pointer-events-none">Download Report</a>
    </div>
    <button type="button" data-action='click->systemreport#clearFilters'>
      <span class="tertiary_button">Clear Filters
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </button>
  </div>
<% end %>
