<% @metrics && @metrics.each do |description, value| %>
  <h2><%= "#{description} #{value}" %></h2>
<% end %>

<% if @data.present? %>
  <div class="overflow-x-auto w-full">
    <table class="report_table">
      <thead class="border border-l-0 border-r-0 border-gray-um60">
      <tr>
        <% @headers.each do |header| %>
          <th class="header_th"><%= header.titleize %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @data.each do |row| %>
        <tr class="mi_tbody_tr">
          <% if @link %>
            <% 
              record = @model_class.find(row[0].to_i)
              url_path = send(@url, record, return_to: request.fullpath)
            %>
            <td class="mi_tbody_td">
              <%= link_to url_path, class: "link_to" do %>
                <%= row[0] %>
              <% end %>
            </td>
          <% else %>
            <td class="mi_tbody_td"><%= row[0] %></td>
          <% end %>
          <% row.shift(1) %>
          <% row.each do |cell| %>
            <td class="mi_tbody_td"><%= cell %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No data available for the selected filters.</p>
<% end %>
