<div>
  <h1 class="font-bold text-4xl">System Reports</h1>
    <%= form_for :report_data, url: "run_report", method: :get,
        data: {
        target: "report.form",
        action: "submit->report#submitForm"
        } do |f| %>
      <div class="flex gap-2">
        <div class="">
          <% if Term.current.present? %>
            <label for="term_id" class="fancy_label">Select a Term</label>
            <%= select_tag "term_id", options_from_collection_for_select(@terms, :id, :name, selected: params[:term_id]), include_blank: "Current Term", class: "filter_select w-48",
              :"data-action" => "change->autosubmit#search" %>
          <% else %>
            <label for="term_id" class="fancy_label">Select a Term</label>
            <%= select_tag "term_id", options_from_collection_for_select(@terms, :id, :name, selected: params[:term_id]), include_blank: "Select ...", class: "filter_select w-48",
              :"data-action" => "change->autosubmit#search" %>
          <% end %>
        </div>

        <% if current_user.unit_ids.count > 1 %>
          <div class="">
            <label for="unit_id" class="fancy_label">Select a Unit</label>
            <%= select_tag "unit_id", options_from_collection_for_select(@units, :id, :name, selected: params[:unit_id]), include_blank: "All Units", class: "filter_select w-48",
              :"data-action" => "change->autosubmit#search" %>
          </div>
        <% end %>
      </div>

      <div class="my-2">
        <%= f.submit "Run report", data: { disable_with: false }, method: :get, class: "primary_button" %>
      </div>

    <% end %>
    
    <div>
      <%= render partial: "system_reports/listing", locals: { title: @title }  %>
    </div>
</div>
