<%= form_for [@car_program, @car], data: { controller: 'autosubmit', autosubmit_target: "form" } do |form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% @car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @car.persisted? %>
  <h3>Select a car</h3>
    <div class="px-1">
      <label for="car_id" class="fancy_label">Select a Car</label>
          <%= select_tag "car_id", options_from_collection_for_select(@add_cars, :id, :car_number), include_blank: "Select ...", class: "input_text_field",
          :"data-action" => "change->autosubmit#search" %>
    </div>
    <h3 class="mt-2">or add a new car</h3>
  <% end %>
  <div class="my-5">
    <%= form.label :car_number, 'Car number *', class: "fancy_label" %>
    <%= form.text_field :car_number, placeholder: "Car number", required: true, class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :make, class: "fancy_label" %>
    <%= form.text_field :make, placeholder: "Make", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :model, class: "fancy_label" %>
    <%= form.text_field :model, placeholder: "Model", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :color, class: "fancy_label" %>
    <%= form.text_field :color, placeholder: "Color", class: "input_text_field" %>
  </div>

  <div class="my-5">
    <%= form.label :number_of_seats, 'Number of seats *', class: "fancy_label" %>
    <%= form.number_field :number_of_seats, required: true, placeholder: "Number", class: "input_text_field" %>
  </div>

  <% if @car.persisted? %>
    <div class="my-5">
      <%= form.label :mileage, class: "fancy_label" %>
      <%= form.text_field :mileage, placeholder: "Mileage", class: "input_text_field" %>
    </div>

    <div class="my-5">
      <%= form.label :gas, class: "fancy_label" %>
      <%= form.text_field :gas, placeholder: "Gas", class: "input_text_field" %>
    </div>

    <div class="my-5">
      <%= form.label :parking_spot, class: "fancy_label" %>
      <%= form.text_field :parking_spot, placeholder: "Parking", class: "input_text_field" %>
    </div>

    <div class="my-5">
      <%= form.label :last_used, class: "fancy_label" %>
      <%= form.datetime_field :last_used, placeholder: "Date", class: "input_text_field" %>
    </div>

    <div class="my-5">
      <%= form.label :last_checked, class: "fancy_label" %>
      <%= form.datetime_field :last_checked, placeholder: "Date", class: "input_text_field" %>
    </div>

    <div class="my-5">
      <%= form.label :last_driver, class: "fancy_label" %>
      <%= form.number_field :last_driver, placeholder: "Driver", class: "input_text_field" %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "secondary_blue_button" %>
  </div>
  <div class="inline">
    <%= link_to program_path(@car_program) do %>
      <span class="tertiary_button">Cancel
      <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
  </div>
<% end %>
