<%= form_with model: [@reservation], class: "contents",
  data: { controller: "driver",
          target: "form",
          action: "submit->driver#submitForm"
        } do |form| %>

  <p class="body-sm-text">
    Number of People on the Trip - <%= @reservation.number_of_people_on_trip %>
  </p>
  <input type="hidden" id="number_of_people_on_trip" name="number_of_people_on_trip" value=<%= @reservation.number_of_people_on_trip %> data-driver-target="number_of_people_on_trip">
  <% if @reservation.passengers.present? %>
    <p class="body-sm-text">
      The reservation has <%= pluralize(@reservation.passengers.count, 'passenger') %> already
    </p>
  <% end %>
  <input type="hidden" id="number_of_passengers" name="number_of_passengers" value=<%= @reservation.passengers.count %> data-driver-target="number_of_passengers">    
  <% if is_student?(current_user) %>
    <input type="hidden" name="reservation[driver_id]" id="reservation_driver_id" value=<%= @reservation.driver_id %> data-driver-target="driver">
    <div class="mt-2">
      <label class="body-lg-bold-text">
        Driver:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= show_driver(@reservation) %>
      </p>
    </div>
  <% else %>
    <div class="my-5">
      <%= form.label :driver_id, "Driver *", class: "fancy_label" %>
      <%= form.collection_select :driver_id, @drivers, :id, :display_name, { include_blank: "Select ..." }, class: "input_text_field",
        "data-driver-target": "driver" %>
    </div>
  <% end %>

  <div class="error_text" id="driver_error">
  </div>

  <div class="my-5">
    <%= form.label :driver_phone, "Driver's Phone *", class: "fancy_label" %>
    <%= form.text_field :driver_phone, placeholder: "XXX-XXX-XXXX", class: "input_text_field",
      "data-driver-target": "driver_phone" %>
  </div>

  <% if @reservation.number_of_people_on_trip > 1 %>
    <div class="my-5">
      <%= form.label :backup_driver_id, "Backup Driver", class: "fancy_label" %>
      <%= form.collection_select :backup_driver_id, @drivers, :id, :display_name, { include_blank: "Select ..." }, class: "input_text_field",
        "data-driver-target": "backup_driver" %>
    </div>

    <div class="error_text" id="backup_driver_error">
    </div>

    <div>
      <p class="body-sm-bold-text">
        If a Backup Driver is selected the Backup Driver Phone is required
      </p>
    </div>

    <div class="my-5">
      <%= form.label :backup_driver_phone, "Backup Driver Phone", class: "fancy_label" %>
      <%= form.text_field :backup_driver_phone, placeholder: "XXX-XXX-XXXX", class: "input_text_field",
        "data-driver-target": "backup_driver_phone" %>
    </div>
  <% end %>

  <input type="hidden" id="edit" name="edit" value=<%= params[:edit] %>>

  <div class="md:flex items-center whitespace-nowrap">
    <% if params["edit"] == "true" %>
      <div>
        <%= form.submit "Update and Edit Passengers", form_class: "flex", class: "primary_button" %>
      </div>
      <div>
        <%= link_to add_passengers_path(@reservation, :edit => params[:edit]) do %>
          <span class="tertiary_button">Go to Passengers Page
          <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
          </span>
        <% end %>
      </div>
    <% else %>
      <div>
        <%= form.submit "Save and Add Passengers", class: "primary_button" %>
      </div>
    <% end %>
    <div>
      <% if is_admin?(current_user) %>
        <% if params["edit"] == "true" %>
          <%= link_to reservation_path(@reservation) do %>
            <span class="tertiary_button">Cancel
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
          <% end %>
        <% else %>
          <%= link_to reservation_path(@reservation) do %>
            <span class="tertiary_button">Add Drivers Later
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
