<%= form_with model: reservation,
    data: { controller: "reservation", reservation_target: "form", action: "submit->reservation#submitForm" } do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="py-2">
    <label class="body-lg-bold-text">
      Term:
    </label>
    <p class="body-lg-text ml-2 inline-block">
      <%= @reservation.program.term.name %>
    </p>
  </div>

  <div class="py-2">
    <label class="body-lg-bold-text">
      Program:
    </label>
    <p class="body-lg-text ml-2 inline-block">
      <%= @reservation.program.display_name_with_title %>
    </p>
  </div>
  <input type="hidden" id="unit_id" name="unit_id" value=<%= @unit_id %> data-driver-target="unit">

  <div>
    <%= form.label :site_id, 'Site *', class: "fancy_label" %>
    <%= form.collection_select :site_id, @sites, :id, :title, { include_blank: "Select Site ..."}, { selected: @site_id, "data-reservation-target": "site", class: "input_text_field" } %>
  </div>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    <div>
        <%= form.label :day_start, "Choose a Start Date", class: "fancy_label" %>
        <%= text_field_tag :day_start, @day_start,
          data: {
          controller: "flatpickr",
          flatpickr_date_format: "Y-m-d",
          flatpickr_min_date: @min_date
          }, "data-reservation-target": "day_start", "data-action": "change->reservation#availableCars",
          class: "input_text_field"
        %>
    </div>

    <div>
      <%= form.label :number_of_people_on_trip, 'Number of People on Trip *', class: "fancy_label" %>
      <%= select_tag :number_of_people_on_trip, options_for_select(@number_of_seats, @number_of_people_on_trip), class: "input_text_field",
        "data-reservation-target": "number", "data-action": "change->reservation#availableCars" %>
    </div>

    <div>
      <%= form.label :start_time, 'Start Time *', class: "fancy_label" %>
      <%= select_tag "start_time", options_for_select(available_time(@day_start, @cars, @unit_id)[:begin], @start_time), class: "input_text_field",
        "data-reservation-target": "start_time", "data-action": "change->reservation#availableCars" %>
    </div>

    <div>
      <%= form.label :end_time, 'End Time *', class: "fancy_label" %>
      <%= select_tag "end_time", options_for_select(available_time(@day_start, @cars, @unit_id)[:end], @end_time), class: "input_text_field",
        "data-reservation-target": "end_time", "data-action": "change->reservation#availableCars" %>
    </div>
    <div class="error_text" id="time_field"></div>
  
  </div>

  <%= render 'cars_dropdown' %>

  <div class="inline">
    <%= form.submit class: "primary_button" %>
  </div>

  <%= link_to reservation_path(@reservation) do %>
    <span class="tertiary_button">Cancel
    <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  <% end %>
<% end %>
