<%= form_with model: reservation,
    data: { controller: "reservation", reservation_target: "form" } do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :unit_id, 'Unit *', class: "hidden" %>
  <input type="hidden" id="unit_id" name="unit_id" value=<%= @unit_id %> data-reservation-target="unit">
  <% if is_student?(current_user) %>
    <p class="body-lg-text mt-2">
      Program:
      <%= @program.display_name_with_title %>
    </p>
    <%= form.label :term_id, 'Term *', class: "hidden" %>
    <input type="hidden" id="term_id" name="term_id" value=<%= @term_id %> data-reservation-target="term">
    <%= form.label :program_id, 'Program *', class: "hidden" %>
    <input type="hidden" id="program_id" name="reservation[program_id]" value=<%= @program.id %> data-reservation-target="program">
    
    <div>
      <%= form.label :site_id, 'Site *', class: "fancy_label" %>
      <%= form.collection_select :site_id, @sites, :id, :title, { include_blank: "Select ..."}, { selected: @site_id, "data-reservation-target": "site", class: "input_text_field" } %>

    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
  <% else %>
    <div>
      <%= form.label :term_id, 'Term *', class: "fancy_label" %>
      <%= select_tag "term_id", options_from_collection_for_select(@terms, :id, :name, selected: @term_id), include_blank: "Select ...", class: "input_text_field",
        "data-reservation-target": "term", "data-action": "change->reservation#changePrograms" %>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <div>
        <%= form.label :program_id, 'Program *', class: "fancy_label" %>
        <%= form.collection_select :program_id, @programs, :id, :display_name_with_title, { include_blank: "Select ..."}, { selected: @program_id, "data-reservation-target": "program", "data-action": "change->reservation#setSites", class: "input_text_field" } %>
      </div>
      <div>
        <%= form.label :site_id, 'Site *', class: "fancy_label" %>
        <%= form.collection_select :site_id, @sites, :id, :title, { include_blank: "Select ..." }, { "data-reservation-target": "site", class: "input_text_field" } %>
      </div>
  <% end %>
    <div>
        <%= form.label :day_start, "Choose a start date", class: "fancy_label" %>
        <%= text_field_tag :day_start, @day_start,
          data: {
          controller: "flatpickr",
          flatpickr_date_format: "Y-m-d",
          }, "data-reservation-target": "day_start", "data-action": "change->reservation#availableCars",
          class: "input_text_field"
        %>
    </div>

    <div>
      <%= form.label :number_of_people_on_trip, 'Number of People on Trip *', class: "fancy_label" %>
      <%= select_tag :number_of_people_on_trip, options_for_select(@number_of_seats), class: "input_text_field",
        "data-reservation-target": "number", "data-action": "change->reservation#availableCars" %>
    </div>

    <div>
      <%= form.label :time_start, 'Start Time *', class: "fancy_label" %>
      <%= select_tag "time_start", options_for_select(available_time(@day_start, @cars, @unit_id)[:begin]), class: "input_text_field",
        "data-reservation-target": "time_start", "data-action": "change->reservation#availableCars" %>
    </div>

    <div>
      <%= form.label :time_end, 'End Time *', class: "fancy_label" %>
      <%= select_tag "time_end", options_for_select(available_time(@day_start, @cars, @unit_id)[:end]), class: "input_text_field",
        "data-reservation-target": "time_end", "data-action": "change->reservation#availableCars" %>
    </div>
  </div>

  <p class="body-text mt-4 mb-2">
    Select a car and click Create Reservation. You can add passengers after submitting the reservation.
  </p>

  <div class="mb-4">
    <%= form.label :car_id, 'Select a Car *', class: "fancy_label" %>
    <%= form.collection_select :car_id, @cars, :id, :car_number, { include_blank: "Select ..." }, { "data-reservation-target": "car", class: "input_text_field" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "primary_button" %>
  </div>

  <%= link_to reservations_path do %>
    <span class="tertiary_button">Cancel
    <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  <% end %>
<% end %>
