<div class="mt-2">

  <div class="py-2">
    <label class="body-lg-bold-text">
      Site:
    </label>
    <p class="body-lg-text ml-2 inline-block">
      <%= reservation.site.title %>
    </p>
  </div>

  <div class="py-2">
    <label class="body-lg-bold-text">
      Start time:
    </label>
    <p class="body-lg-text ml-2 inline-block">
      <%= reservation.start_time %>
    </p>
  </div>

  <div class="py-2">
    <label class="body-lg-bold-text">
      End time:
    </label>
    <p class="body-lg-text ml-2 inline-block">
      <%= reservation.end_time %>
    </p>
  </div>

  <div class="py-2">
    <label class="body-lg-bold-text">
      Driver:
    </label>
    <p class="body-lg-text ml-2 inline-block">
      <%= reservation.driver.display_name %>
    </p>
  </div>

  <div class="py-2">
    <label class="body-lg-bold-text">
      Driver phone:
    </label>
    <p class="body-lg-text ml-2 inline-block">
      <%= reservation.driver_phone %>
    </p>
  </div>

  <% if reservation.backup_driver.present? %>
    <div class="py-2">
      <label class="body-lg-bold-text">
        Driver:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= reservation.backup_driver.display_name %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Backup driver phone:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= reservation.backup_driver_phone %>
      </p>
    </div>
  <% end %>

  <div class="py-2">
    <label class="body-lg-bold-text">
      Number of people on trip:
    </label>
    <p class="body-lg-text ml-2 inline-block">
      <%= reservation.number_of_people_on_trip %>
    </p>
  </div>

</div>
