<div class="grid grid-cols-1 lg:grid-cols-2">
  <div>
    <div class="">
      <% if is_student?(current_user) && @reservation.approved %>
        <p class="body-md-text status-true">
          The reservation is approved by admins
        </p>
      <% end %>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Car:
      </p>
      <p id="car" class="body-lg-text ml-2 inline">
        <% if reservation.car.present? %>
          <%= link_to show_car(reservation), car_path(reservation.car), class: "link_to" %>
        <% else %>
          <span class="status-false">
            No car selected
          </span>
        <% end %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Site:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= reservation.site.title %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Start time:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= show_date_time(reservation.start_time + 15.minute) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        End time:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= show_date_time(reservation.end_time - 15.minute) %>
      </p>
    </div>

    <% if recurring?(@reservation) %>
      <div class="pt-2 pb-8">
        <% recurring_reservation = RecurringReservation.new(@reservation) %>
        <p class="body-lg-bold-text inline">
          Recurring:
        </p>
        <p class="body-lg-text ml-2 inline">
          <%= recurring_reservation.first_reservation.rule.to_s %>
        </p>
      </div>
    <% end %>

    <div class="lg:flex items-end gap-2">
      <div class="py-2">
        <p class="body-lg-bold-text inline">
          Driver:
        </p>
        <p id="driver" class="body-lg-text ml-2 inline">
          <%= show_driver(reservation) %>
        </p>
      </div>
      <% if ((is_admin?(current_user) && @reservation.end_time > DateTime.now) || allow_student_to_edit_reservation?(@reservation) || allow_manager_to_edit_reservation?(@reservation)) %>
        <div class="py-2 whitespace-nowrap">
          <%= link_to add_drivers_path(@reservation, :edit => true) do %>
            <span class="tertiary_button"> 
              Edit Drivers
              <i class="fa-solid fa-pen" aria-hidden="true"></i>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Driver phone:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= reservation.driver_phone %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Backup Driver:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= show_backup_driver(reservation) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Backup driver phone:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= reservation.backup_driver_phone %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Number of people on trip:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= reservation.number_of_people_on_trip %>
      </p>
    </div>
  </div>
  <div>
    <div class="flex items-end gap-2 py-2 whitespace-nowrap">
      <p class="body-lg-bold-text">
        Passengers (<%= @reservation.passengers.count %>):
      </p>
      <% if ((is_admin?(current_user) && @reservation.end_time > DateTime.now) || allow_student_to_edit_reservation?(@reservation) || allow_manager_to_edit_reservation?(@reservation)) %>
        <div class="py-2">
          <%= link_to add_passengers_path(@reservation, :edit => true) do %>
            <span class="tertiary_button"> 
              Edit Passengers
              <i class="fa-solid fa-pen" aria-hidden="true"></i>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @passengers.present? %>
      <ul>
        <% @passengers.each do |passenger| %>
          <p class="body-lg-text ml-2">
            <%= passenger.display_name %>
          </p>
        <% end %>
      </ul>
    <% end %>
    <div class="mt-2">
      <% if @reservation.program.non_uofm_passengers && @reservation.non_uofm_passengers.present? %>
        <p class="body-lg-bold-text">
          Non UofM Passengers (<%= @reservation.number_of_non_uofm_passengers %>):
        </p>
        <p class="body-lg-text ml-2">
          <%= @reservation.non_uofm_passengers %>
        </p>
      <% end %>
    </div>
  </div>

</div>
<p class="body-sm-text m-2">
  <%= reserved_on_and_by(reservation) %>
</p>
