<div class="grid grid-cols-1 sm:grid-cols-2">
  <div>
    <div class="py-2">
      <label class="body-lg-bold-text">
        Car:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= link_to show_car(reservation), car_path(reservation.car), class: "link_to" %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Site:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= reservation.site.title %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Start time:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= reservation.start_time %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        End time:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= reservation.end_time %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Driver:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= show_driver(reservation) %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Driver phone:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= reservation.driver_phone %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Backup Driver:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= show_backup_driver(reservation) %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Backup driver phone:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= reservation.backup_driver_phone %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Number of people on trip:
      </label>
      <p class="body-lg-text ml-2 inline-block">
        <%= reservation.number_of_people_on_trip %>
      </p>
    </div>
  </div>
  <div>
    <% if @passengers.present? %>
      <label class="body-lg-bold-text">
        Passengers:
      </label>
      <ul>
        <% @passengers.each do |passenger| %>
          <p class="body-lg-text ml-2">
            <%= passenger.display_name %>
          </p>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>
