<%= turbo_frame_tag "start_end_time_long" do %>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 w-full">
    <div>
      <%= label_tag :start_time, 'Start Time OverNight *', class: "fancy_label" %>
      <%= select_tag "start_time", options_for_select(all_day_available_time(@day_start, @unit_id)[:begin], selected: @start_time), class: "input_text_field",
      "data-reservation-target": "start_time", "data-longreservation-target": "start_time", "data-editlongreservation-target": "start_time" %>
    </div>
    <div>
      <%= label_tag :end_time, 'End Time OverNight *', class: "fancy_label" %>
      <%= select_tag "end_time", options_for_select(all_day_available_time(@day_end, @unit_id)[:end], selected: @end_time), class: "input_text_field",
      "data-reservation-target": "end_time", "data-longreservation-target": "end_time", "data-editlongreservation-target": "end_time" %>
    </div>
    <div>
      </div>
    <div class="error_text" id="time_field"></div>
  </div>
<% end %>
