<%= turbo_frame_tag "start_end_time_edit" do %>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 w-full">
    <div>
      <%= label_tag :start_time, 'Start Time *', class: "fancy_label" %>
      <%= select_tag "start_time", options_for_select(all_day_available_time(@day_start, @unit_id)[:begin], @start_time), class: "input_text_field",
      "data-editreservation-target": "start_time" %>
    </div>

    <div>
      <%= label_tag :end_time, 'End Time *', class: "fancy_label" %>
      <%= select_tag "end_time", options_for_select(all_day_available_time(@day_start, @unit_id)[:end], @end_time), class: "input_text_field",
      "data-editreservation-target": "end_time" %>
    </div>
    <div class="error_text" id="time_field"></div>
  </div>
<% end %>