<div class="mx-auto w-full">
  <h1>Add Passengers</h1>
  <h2>
    <%= @reservation.program.unit.name %>
    <%= @reservation.program.display_name_with_title %>
  </h2>
  <h3>
    List of Students
  </h3>
  <div class="m-2">
    <%= render "students" %>
  </div>
  <h3>
    List of Passengers - Number of People on the Trip - <%= @reservation.number_of_people_on_trip %>
  </h3>

  <div class="m-2">
    <%= turbo_frame_tag "passenger_list" do %>
      <% if @reservation.added_people == @reservation.number_of_people_on_trip %>
        <p class="my-5 body-sm-text">
          No space for more passengers in the car - please click Finish Creating Reservation button
        </p>
      <% end %>
      <%= render "passenger_list", locals: { reservation: @reservation} %>
    <% end %>
  </div>

  <div class="m-2">
    <% if @reservation.program.non_uofm_passengers %>
      <%= form_with model: @reservation do |form| %>
        <% if @reservation.errors.any? %>
          <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
            <ul>
              <% @reservation.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="my-5">
          <%= form.label :non_uofm_passengers, "Non UofM Passengers", class: "fancy_label" %>
          <%= form.text_field :non_uofm_passengers, required: true, class: "input_text_field" %>
        </div>
        <div class="my-5">
          <%= form.label :number_of_non_uofm_passengers, "Number of Non UofM Passengers", class: "fancy_label" %>
          <%= form.text_field :number_of_non_uofm_passengers, required: true, class: "input_text_field" %>
        </div>

        <div class="inline">
          <%= form.submit class: "primary_button" %>
        </div>
        <%= link_to reservations_path do %>
          <span class="tertiary_button">Cancel
          <i class="fa fa-times" aria-hidden="true"></i>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "Finish Creating Reservation", finish_reservation_path(@reservation), class: "primary_button" %>
  </div>
</div>
