<div class="min-w-full" data-controller='autosubmit'>
  <div class="flex justify-between items-center">
    <h1>Canceled Reservations</h1>
    <div class="flex flex-col items-center justify-center body-md-text pt-4">
      <div>
        <%= show_current_terms[0] %>
      </div>
      <div>
        <%= show_current_terms[1] %>
      </div>
    </div>
  </div>
  <%= form_with url: canceled_reservations_path, method: :get, class: "", data: { autosubmit_target: "form", turbo_frame: "canceled_reservations" } do |form| %>
    <div class="md:flex gap-2 mb-2">
      <div class="">
        <% if Term.current.present? %>
          <label for="term_id" class="fancy_label">Select a Term</label>
          <%= select_tag "term_id", options_from_collection_for_select(@terms, :id, :name, selected: params[:term_id]), include_blank: "Current Term", class: "filter_select w-48",
            :"data-action" => "change->autosubmit#search" %>
        <% else %>
          <label for="term_id" class="fancy_label">Select a Term</label>
          <%= select_tag "term_id", options_from_collection_for_select(@terms, :id, :name, selected: params[:term_id]), include_blank: "Select ...", class: "filter_select w-48",
            :"data-action" => "change->autosubmit#search" %>
        <% end %>
      </div>

      <% if session[:unit_ids].count > 1 %>
        <div class="">
          <label for="unit_id" class="fancy_label">Select a Unit</label>
          <%= select_tag "unit_id", options_from_collection_for_select(@units, :id, :name, selected: params[:unit_id]), include_blank: "All Units", class: "filter_select w-48",
            :"data-action" => "change->autosubmit#search" %>
        </div>
      <% end %>
      <div class="">
        <label for="program_id" class="fancy_label">Select a Program</label>
        <%= select_tag "program_id", options_from_collection_for_select(@programs, :id, :title, selected: params[:program_id]), include_blank: "All Programs", class: "filter_select w-96", "data-action": "change->autosubmit#search" %>
      </div>
    </div>
  <% end %>
  <%= turbo_frame_tag 'canceled_reservations' do %>
    <div class="my-2">
      <%= page_entries_info @canceled_reservations %>
    </div>
    <table class="mi_table">
      <thead class="border border-l-0 border-r-0 border-gray-um60">
        <tr>
          <th class="header_th">Reservation Time</th>
          <th class="header_th">Car</th>
          <th class="header_th">Program</th>
          <th class="header_th">Site</th>
          <th class="header_th">Canceled On</th>
          <th class="header_th">Canceled By</th>
          <th class="header_th">Reason for Canceletion</th>
        </tr>
      </thead>
      <tbody>
        <% @canceled_reservations.each do |reservation| %>
          <tr>
            <td class="mi_tbody_td">
              <%= link_to show_reservation_time(reservation), reservation_path(reservation), class: "link_to", data: { "turbo-frame": "_top" } %>
            </td>
            <td class="mi_tbody_td">
              <% if reservation.car.present? %>
                <%= link_to reservation.car.car_number, car_path(reservation.car), class: "link_to", data: {turbo_frame: "_top"}  %>
              <% else %>
                <span class="status-false">
                  <%= reservation.display_name %>
                  <i class="fa-solid fa-triangle-exclamation" style="color:#c53030"></i>
                </span>
              <% end %>
            </td>
            <td class="mi_tbody_td">
              <%= reservation.program.title %>
            </td>
            <td class="mi_tbody_td">
              <%= reservation.site.title %>
            </td>
            <td class="mi_tbody_td">
              <%= show_date_time(reservation.updated_at) %>
            </td>
            <td class="mi_tbody_td">
              <%= show_user_name_by_id(reservation.updated_by) %>
            </td>
            <td class="mi_tbody_td">
            <%= reservation.reason_for_cancellation %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="my-2 flex justify-center">
      <%= paginate @canceled_reservations %>
    </div>
  <% end %>

</div>
