<div class="min-w-full">
  <div class="flex justify-between items-center">
    <h1>Reservations for <%= show_date(@day) %><h1>
    <div>
      <%= link_to reservations_path do %>
        <span class="primary_button mb-2">
          <i class="fa-solid fa-circle-xmark" aria-hidden="true"></i>
          Back to Calendar
        </span>
      <% end %>
    </div>
  </div>
  <div>
    <%= turbo_frame_tag 'day_reservations' do %>
      <%= form_with model: @res_ids, url: selected_reservations_path, method: :post, 
        data: { controller: "checkboxselectall",
                target: "form",
                action: "submit->checkboxselectall#submitForm",
                turbo_frame: "_top" 
              } do |form| %>
        <div class="flex md:flex justify-between items-center ml-2 mb-2">
          <div class="error_text" id="checkbox_error">
          </div>
          <div>
            <%= submit_tag 'Send Email to Selected Reservations', class: "secondary_blue_button" %>
          </div>
        </div>
        <input type="hidden" id="day" name="day" value=<%= @day %>>
        <table class="mi_table">
          <thead class="border border-l-0 border-r-0 border-gray-um60">
            <tr>
              <td>
                <span hidden id="select_all">Select All</span>
                <input type="checkbox" aria-labelledby="select_all" class="check_box ml-2" data-checkboxselectall-target="checkbox_all" data-action="change->checkboxselectall#toggleCheckbox">
              </td>
              <th class="header_th">Reservation Time</th>
              <th class="header_th">Car</th>
              <th class="header_th">Program</th>
              <th class="header_th">Site</th>
              <th class="header_th">Driver</th>
              <th class="header_th">Number of People</th>
              <th class="header_th">Reserved By</th>
              <th class="header_th">Vehicle Report</th>
              <th class="header_th">Admin Status</th>
            <th class="header_th">Student Status</th>
            </tr>
          </thead>
          <tbody>
            <% @day_reservations.each do |reservation| %>
              <tr>
                <td class="mi_tbody_td">
                  <input type="checkbox" aria-labelledby=<%= "res_ids_#{reservation.id}" %> name="res_ids[<%= reservation.id %>]" id="res_ids_<%= reservation.id %>" value="0" class="check_box" data-checkboxselectall-target="checkbox" data-action="change->checkboxselectall#toggleCheckboxAll">
                </td>
                <td class="mi_tbody_td">
                  <%= link_to show_reservation_time(reservation), reservation_path(reservation), class: "link_to", data: { "turbo-frame": "_top" } %>
                </td>
                <td class="mi_tbody_td">
                  <% if reservation.car.present? %>
                    <% if reservation.car.status == "available" %>
                      <%= link_to reservation.car.car_number, car_path(reservation.car), class: "link_to", data: {turbo_frame: "_top"}  %>
                    <% else %>
                      <%= link_to car_path(reservation.car), class: "link_to", data: {turbo_frame: "_top"} do %>
                        <span class="status-false">
                          <%= "#{reservation.car.car_number + " - unavailable"}" %>
                        </span>
                      <% end %>
                      <i class="fa-solid fa-triangle-exclamation" style="color:#c53030"></i>
                    <% end %>
                  <% else %>
                    <span class="status-false">
                      <%= reservation.display_name %>
                      <i class="fa-solid fa-triangle-exclamation" style="color:#c53030"></i>
                    </span>
                  <% end %>
                </td>
                <td class="mi_tbody_td">
                  <%= reservation.program.title %>
                </td>
                <td class="mi_tbody_td">
                  <%= reservation.site.title %>
                </td>
                <td class="mi_tbody_td">
                  <%= show_driver(reservation) %>
                  <%= display_driver_status(reservation) %>
                </td>
                <td class="mi_tbody_td">
                  <%= reservation.number_of_people_on_trip %>
                </td>
                <td class="mi_tbody_td">
                  <%= show_user_name_by_id(reservation.reserved_by) %>
                </td>
                <td class="mi_tbody_td">
                  <% if reservation.vehicle_report.present? %>
                    <%= link_to 'Vehicle report', vehicle_report_path(reservation.vehicle_report), class: "link_to", data: {turbo_frame: "_top"} %>
                  <% else %>
                    <%= link_to 'New vehicle report', new_reservation_vehicle_report_path(reservation), class: "link_to", data: {turbo_frame: "_top"} if reservation.car.present? %>
                  <% end %>
                </td>
                <% if reservation.vehicle_report.present? %>
                  <td class="mi_tbody_td status-<%= reservation.vehicle_report.approved %>">
                    <%= reservation.vehicle_report.status %>
                  </td>
                  <td class="mi_tbody_td status-<%= reservation.vehicle_report.student_status %>">
                    <%= show_vehicle_report_student_status(reservation.vehicle_report) %>
                  </td>
                <% end %>
                </td>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    <% end %>
  </div>
</div>
