<div class="w-full" data-controller='autosubmit'>
  <a id="top" name="top" style="display: none;">top</a>
  <div class="md:flex justify-between items-center whitespace-nowrap pb-4">
    <h1>Reservations</h1>
    <div class="flex flex-col items-center justify-center body-md-text pt-4">
      <div>
        <%= show_current_terms[0] %>
      </div>
      <div>
        <%= show_current_terms[1] %>
      </div>
    </div>
    <div class="mt-2">
      <% if @unit_id.present? %>
        <%= link_to new_reservation_path(:unit_id => @unit_id, :day_start => Date.today) do %>
          <span class="secondary_blue_button mr-2">
            One Day Reservation
          </span>
        <% end %>
        <%= link_to new_long_reservation_path(:unit_id => @unit_id, :day_start => Date.today) do %>
          <span class="secondary_blue_button">
            Overnight Reservation
          </span>
        <% end %>
        <%= link_to import_reservations_path(:unit_id => @unit_id) do %>
          <span class="secondary_blue_button">
            Import Reservations
          </span>
        <% end %>
        <div class="d-flex flex-column flex-sm-row flex-wrap gap-2">
        <h3 class="me-5">Import Files</h3>
        <%= form_tag import_reservations_path, 
                    method: :post, 
                    data: { turbo: false },
                    multipart: true do %>
          <%= label_tag 'file', 'Choose CSV files to import:', class: 'visually-hidden' %>
          <%= file_field_tag 'file', accept: ".csv"%>
          <%= hidden_field_tag :unit_id, @unit_id %>
          <%= button_tag type: 'submit', class: 'btn btn-primary my-2 m-lg-0' do %>
            Import <i class="bi bi-box-arrow-in-down"></i>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  
  <%= form_with url: reservations_path, method: :get, class: "", data: { autosubmit_target: "form", turbo_frame: "unit-calendar" } do |form| %>
    <% if session[:unit_ids].count > 1 %>
      <div class="my-2">
        <label for="unit_id" class="fancy_label">Select a Unit</label>
        <%= select_tag "unit_id", options_from_collection_for_select(@units, :id, :name, selected: params[:unit_id]), include_blank: "All Units", class: "filter_select w-48",
          :"data-action" => "change->autosubmit#search" %>
      </div>
    <% else %>
      <%= form.label :unit_id, 'Unit *', class: "hidden" %>
      <input type="hidden" id="unit_id" name="unit_id" value=<%= @unit_id %>>
    <% end %>
  <% end %>
  <div class="mb-2">
    <div class="md:flex justify-between items-center whitespace-nowrap pb-4">
      <div> </div>
      <div class="my-2 md:flex gap-4 items-center whitespace-nowrap pr-4">
        <div>
          <i class="fa-solid fa-circle-check" style="color:#024794"></i>
          <span> - approved </span>
        </div>
        <div>
        <i class="fa fa-repeat" aria-hidden="true" style="color:#024794"></i>
          <span> - recurring </span>
        </div>
        <div>
          <i class="fa-solid fa-triangle-exclamation" style="color:#c53030"></i>
          <span> - no car/no driver/conflict </span>
        </div>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag 'unit-calendar' do %>
    <%= month_calendar(events: @reservations) do |date, reservations| %>
      <div class="day-header">
        <%= date.mday %>
      </div>

      <div class="body-sm-text">
        <%= link_to "Today List", day_reservations_path(date), class: "link_to", data: {turbo_frame: "_top"} %>
      </div>
      <div class="flex flex-col justify-between">
        <% reservations.each do |reservation| %>
          <div class="body-sm-text">
            <% if reservation.car_id.present? %>
              <% if recurring?(reservation) %>
                <%= link_to reservation_path(reservation.id), class: "link_to", data: {turbo_frame: "_top"} do %>
                  <span">
                    <%= reservation.display_name %>
                    <% if no_good_driver?(reservation) || conflict?(reservation) %>
                      <i class="fa-solid fa-triangle-exclamation" style="color:#c53030"></i>
                    <% end %>
                    <% if reservation.approved %>
                      <i class="fa-solid fa-circle-check" style="color:#024794"></i>
                    <% end %>
                    <i class="fa fa-repeat" aria-hidden="true" style="color:#024794"></i>
                  </span>
                <% end %>
              <% else %>
                <%= link_to reservation_path(reservation.id), class: "link_to", data: {turbo_frame: "_top"} do %>
                  <span">
                    <%= reservation.display_name %>
                    <% if no_good_driver?(reservation) || conflict?(reservation) %>
                      <i class="fa-solid fa-triangle-exclamation" style="color:#c53030"></i>
                    <% end %>
                    <% if reservation.approved %>
                      <i class="fa-solid fa-circle-check" style="color:#024794"></i>
                    <% end %>
                  </span>
                <% end %>
              <% end %>
            <% else %>
              <% if recurring?(reservation)  %>
                <%= link_to reservation_path(reservation.id), class: "link_to", data: {turbo_frame: "_top"} do %>
                  <span">
                    <%= reservation.display_name %>
                    <i class="fa-solid fa-triangle-exclamation" style="color:#c53030"></i>
                    <i class="fa fa-repeat" aria-hidden="true" style="color:#024794"></i>
                  </span>
                <% end %>
              <% else %>
                <%= link_to reservation_path(reservation.id), class: "link_to", data: {turbo_frame: "_top"} do %>
                  <span">
                    <%= reservation.display_name %>
                    <i class="fa-solid fa-triangle-exclamation" style="color:#c53030"></i>
                  </span>
                <% end %>
              <% end %>
            <% end %>
            <p>
              <%= show_reservation_start_time(reservation, date) %>
              -
              <%= show_reservation_end_time(reservation, date) %>
            </p>
          </div>
        <% end %>
        <div class="">
          <% if (is_admin? || date >= Date.today) && @unit_id.present? %>
            <%= link_to new_reservation_path(:unit_id => @unit_id, :day_start => date), data: {turbo_frame: "_top"} do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span class="tertiary_button -m-4">
                One Day Reservation
              </span>
            <% end %>
            <%= link_to new_long_reservation_path(:unit_id => @unit_id, :day_start => date), data: {turbo_frame: "_top"} do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span class="tertiary_button -m-4">
                Overnight Reservation
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
