<div class="w-full" data-controller='autosubmit'>
<a name="top" style="display: none;">top<a>
  <div class="pb-4">
    <h1 class="mb-2">Reservations</h1>
  </div>
  <div class="mb-2">
    <%= link_to 'Week calendar', week_calendar_path, class: "secondary_blue_button" %>
  </div>
  <%= form_with url: reservations_path, method: :get, class: "", data: { autosubmit_target: "form", turbo_frame: "unit-calendar" } do |form| %>
    <% if current_user.unit_ids.count > 1 %>
      <div class="my-2">
        <label for="unit_id" class="fancy_label">Select a Unit</label>
        <%= select_tag "unit_id", options_from_collection_for_select(@units, :id, :name, selected: params[:unit_id]), include_blank: "All Units", class: "filter_select w-48",
          :"data-action" => "change->autosubmit#search" %>
      </div>
    <% else %>
      <%= form.label :unit_id, 'Unit *', class: "hidden" %>
      <input type="hidden" id="unit_id" name="unit_id" value=<%= @unit_id %>>
    <% end %>
  <% end %>

  <%= turbo_frame_tag 'unit-calendar' do %>
    <%= month_calendar(events: @reservations) do |date, reservations| %>
      <div class="day-header">
        <%= date.mday %>
      </div>

      <div class="body-sm-text">
        <%= link_to "Today List", day_reservations_path(date), class: "link_to" %>
      </div>
      <div class="flex flex-col justify-between">
        <% reservations.each do |reservation| %>
          <div class="body-sm-text">
            <%= link_to reservation.display_name, reservation_path(reservation.id), class: "link_to" %>
            <p>
              <%= show_time(reservation.start_time) %>
              -
              <%= show_time(reservation.end_time) %>
            </p>
          </div>
        <% end %>
        <div class="">
          <% if date >= Date.today %>
            <%= link_to new_reservation_path(:unit_id => @unit_id, :day_start => date) do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span class="tertiary_button -m-4">
                Add Reservation
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
