<div class="w-full">
  <div class="pb-4">
    <h1 class="mb-2">Reservations</h1>
  </div>
  <%= turbo_frame_tag 'calendar' do %>
    <%= month_calendar(events: @reservations) do |date, reservations| %>
      <div class="day-header">
        <%= date.mday %>
      </div>

      <div class="flex flex-col justify-between">
        <% reservations.each do |reservation| %>
          <div>
            <%= link_to reservation.display_name, reservation_path(reservation.id) %>
            <p>
            From: 
            <%= show_date_time(reservation.start_time) %>
            </p>
            <p>
            To: 
            <%= show_date_time(reservation.end_time) %>
            </p>
          </div>
        <% end %>
        <div class="">
          <%= link_to new_reservation_path(:start_date => date) do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="tertiary_button -m-4">Add Reservation
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>


  <div id="reservations" class="min-w-full mt-2">
    <%= render 'listing' %>
  </div>
</div>
