<div class="mx-auto w-full">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div>
      <h1>
        <%= @reservation.program.unit.name %> reservation
      </h1>
      <h2>
        <%= @reservation.program.display_name_with_title %>
      </h2>
    </div>
    <div class="lg:grid lg:justify-items-end py-2">
      <% if is_admin?(current_user) || allow_student_to_edit_reservation?(@reservation) %>
        <%= link_to 'Edit Reservation', edit_reservation_path(@reservation), class: "primary_button" if policy(@reservation).edit? %>
        <%= link_to 'Edit Drivers and Passengers', add_drivers_path(@reservation), class: "primary_button" if policy(@reservation).edit? %>
      <% else %>
      <div></div>
      <div></div>
      <% end %>
      <% if @reservation.vehicle_report.present? %>
        <%= link_to 'Vehicle report', vehicle_report_path(@reservation.vehicle_report), class: "secondary_blue_button" %>
      <% else %>
        <%= link_to 'New vehicle report', new_reservation_vehicle_report_path(@reservation), class: "secondary_blue_button" %>
      <% end %>
    </div>
  </div>
  <div>
    <%= render @reservation %>
  <div>
</div>
