<%= turbo_frame_tag 'new_preference' do %>
  <%= form_with(model: unit_preference, class: "contents") do |form| %>
    <% if unit_preference.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(unit_preference.errors.count, "error") %> prohibited this unit_preference from being saved:</h2>
        <ul>
          <% unit_preference.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :name, "Name *", class: "fancy_label" %>
      <%= form.text_field :name, required: true, class: "input_text_field" %>
    </div>

    <div class="my-5">
      <%= form.label :description, "Description *", class: "fancy_label" %>
      <%= form.text_field :description, required: true, class: "input_text_field" %>
    </div>

    <div class="inline">
      <%= form.submit 'Create Unit Preference', class: "secondary_blue_button" %>
    </div>
  <% end %>
<% end %>
