<div class="mx-auto w-full">
  <h1>Unit Preferences</h1>
  

    <%= form_with model: @unit_prefs, url: unit_prefs_path, method: :post do |form| %>
      <% @units.each do |unit| %>
        <h2 class="m-2"><%= unit.name %></h2>
        <% @unit_prefs.where(unit_id: unit).each do |pref| %>
          <%= fields_for 'unit_prefs[]' do %>
            <div>
            <%= label_tag("refs[#{unit.id}][#{pref.name}]", nil, class: "hidden") %>
            <%= check_box_tag "prefs[#{unit.id}][#{pref.name}]", 1, pref.value, class: "check_box" %>
            <span class="check_box_text"><%= pref.description %></span>
            </div>
          <% end %>
        <% end %>
      <% end %>

        
      <div class="my-4">
        <div class="inline">
          <%= submit_tag 'Update your preferences', class: "secondary_blue_button" %>
        </div>
      <div>
    <% end %>
</div>
