<div class="w-full">

  <div class="flex justify-between items-center mb-2">
    <h1 class="font-bold text-4xl">Config questions</h1>
    <%= link_to 'New config question', new_program_config_question_path(@config_question_program), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="config_questions" class="min-w-full">
    <table class="mi_table">
      <thead class="mi_thead">
        <tr>
          <th class="header_th">  </th>
          <th class="header_th">  </th>
          <th class="header_th"> Question </th>
          <th class="header_th"> Answer </th>
        </tr>
      </thead>
      <tbody>
        <% @config_questions.each do |config_question| %>
          <tr class="mi_tbody_tr">
            <td class="mi_tbody_td">
              <%= link_to "View", program_config_question_path(@config_question_program, config_question), class: "link_to" %>
            </td>
            <td class="mi_tbody_td">
              <%= link_to 'Edit', edit_program_config_question_path(@config_question_program, config_question), class: "link_to" %>
            </td>
            <td class="mi_tbody_td">
                <%= config_question.question %>
            </td>
            <td class="mi_tbody_td">
                <%= config_question.answer %>
            </td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>



</div>
