<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= date_range.first.to_formatted_s(:short) %> to <%= date_range.last.to_formatted_s(:short) %> </span>
    <% else %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= date_range.first.wday %></span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>

    <%= link_to 'Today', week_calendar_path, class: "secondary_yellow_button" %>
  </div>

  <table class="table-fixed">
    <thead class="border border-l-0 border-r-0 border-gray-um60">
      
      <tr class="mi_tbody_tr border-b border-gray-900">
        <td colspan="2"></td>
        <% 8.upto(17).each do |hour| %>
          <th colspan="4" class="header_th border border-gray-900">
            <%= Time.parse("#{hour}:00").strftime("%l %P") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% date_range.slice(0, 7).each do |day| %>
        <tr class="mi_tbody_tr border">
          <th scope="row" colspan="2" class="header_th border">
            <%= t('date.abbr_day_names')[day.wday] %> <%= day.to_formatted_s(:short) %>
          </th>
        </tr>
        <% @cars.each do |car| %>
          <tr class="mi_tbody_tr border">
            <td></td>
            <th border>
              Car <%= car.car_number %>
            </th>
            <% day_begin = DateTime.new(day.year, day.month, day.day, 8, 0, 0, 'EDT') %>
            <% day_end = DateTime.new(day.year, day.month, day.day, 17, 0, 0, 'EDT') %>
            <% day_times_with_15_min_steps = (day_begin.to_i..day_end.to_i).to_a.in_groups_of(15.minutes).collect(&:first).collect { |t| Time.at(t) } %>
            <% car_day_reserv = car.reservations.where("start_time BETWEEN ? AND ?", day.beginning_of_day, day.end_of_day) %>
            <% if car_day_reserv.present? %>
              <% day_times_with_15_min_steps.each do |step| %>
                <% step_range = step..step + 15.minutes %>
                <% if car_day_reserv.count > 1 && car_day_reserv.map { |res| res.start_time..res.end_time }.all? { |r| r.cover?(step_range)} %>
                  <td class="td-week bg-red-900 border-r border-gray-900">
                    <% if car_day_reserv.find_by(start_time: step).present? %>
                      <div class="td-week" title="<%= show_reservation(car_day_reserv.find_by(start_time: step)) %>">
                        <a title="something">
                          <%= show_reserved_by_in_week_calendar(car_day_reserv.find_by(start_time: step)) %>
                        </a>
                      </div>
                    <% end %>
                  </td>
                <% elsif car_day_reserv.map { |res| res.start_time..res.end_time }.any? { |r| r.cover?(step_range)} %>
                  <td class="td-week bg-red-500 border-r border-gray-900">
                    <% if car_day_reserv.find_by(start_time: step).present? %>
                      <div title="<%= show_reservation(car_day_reserv.find_by(start_time: step)) %>">
                         <%= show_reserved_by_in_week_calendar(car_day_reserv.find_by(start_time: step)) %>
                      </div>
                    <% end %>
                  </td>
                <% end %>
                </td>
              <% end %>
            <% else %>
              <td class="border hover:bg-green-500">
                <%= link_to '.', new_reservation_path(:start_date => day) , class: "text-gray-500 w-0" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
