<%= form_with(model: config_question, class: "contents") do |form| %>
  <% if config_question.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(config_question.errors.count, "error") %> prohibited this config_question from being saved:</h2>

      <ul>
        <% config_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :program_id %>
    <%= form.text_field :program_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="px-1 pb-2 my-2 flex items-center text-sm text-gray-900">
    <div class="checkbox-filter">
      <%= check_box_tag "check[]", 0, false, { class: "w-5 h-5 rounded mr-2 border-blue-umblue text-blue-umblue focus:ring-blue-umblue" } %>
    </div>
    <div class="field">
      <%= form.label "question[]" %>
      <%= form.rich_text_area tag_name_with_index, value: "Number of students using ride share" %>
    </div>
  </div>

  <div class="px-1 pb-2 my-2 flex items-center text-sm text-gray-900">
    <div class="checkbox-filter">
      <%= check_box_tag "check[]", 0, false, { class: "w-5 h-5 rounded mr-2 border-blue-umblue text-blue-umblue focus:ring-blue-umblue" } %>
    </div>
    <div class="field">
      <%= form.label "question[]" %>
      <%= form.rich_text_area "question[]", value: "<div>Type of car reservation&nbsp;</div><ul><li>Recurring</li><li>Sporadic</li><li>Events</li><li>Trips</li><li>Other</li></ul>" %>
    </div>
  </div>

  <div class="px-1 pb-2 my-2 flex items-center text-sm text-gray-900">
    <div class="checkbox-filter">
      <%= check_box_tag :check3, 0, false, { class: "w-5 h-5 rounded mr-2 border-blue-umblue text-blue-umblue focus:ring-blue-umblue" } %>
    </div>
    <div class="field">
      <%= form.label :question3 %>
      <%= form.rich_text_area :question3, value: "Does The Course Have A $50 Lab Fee?" %>
    </div>
  </div>

  <div class="px-1 pb-2 my-2 flex items-center text-sm text-gray-900">
    <div class="checkbox-filter">
      <%= check_box_tag :check4, 0, false, { class: "w-5 h-5 rounded mr-2 border-blue-umblue text-blue-umblue focus:ring-blue-umblue" } %>
    </div>
    <div class="field">
      <%= form.label :question4 %>
      <%= form.rich_text_area :question4, value: "<div>What training option would be best for your course? (~30-minutes needed)&nbsp;</div><ul><li>Whole Class In-Person (Recommended)&nbsp;</li><li>Whole Class Via Zoom (Recommended)&nbsp;</li><li>Small Groups Via Zoom&nbsp;</li><li>Individuals Sign Up Online&nbsp;</li><li>Other</li></ul>" %>
    </div>
  </div>
  <div class="px-1 pb-2 my-2 flex items-center text-sm text-gray-900">
    <div class="checkbox-filter">
      <%= check_box_tag :check5, 0, false, { class: "w-5 h-5 rounded mr-2 border-blue-umblue text-blue-umblue focus:ring-blue-umblue" } %>
    </div>
    <div class="field">
      <%= form.label :question5 %>
      <%= form.rich_text_area :question5, value: "If whole class training is possible, what date would be best? (The admin will contact to coordinate time/location)" %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
