<%= turbo_frame_tag 'new_unit' do %>
  <%= form_with(model: unit, class: "contents") do |form| %>
    <% if unit.errors.any? %>
      <div id="error_explanation" class="text-red-umred px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>
        <ul>
          <% unit.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="md:flex gap-2 justify-between items-end m-2">
      <div class="md:flex-1">
        <%= form.label :name, "Name *", class: "fancy_label"  %>
        <%= form.text_field :name, required: true, class: "input_text_field" %>
      </div>

      <div class="md:flex-1">
        <%= form.label :ldap_group, "Ldap Group *", class: "fancy_label"  %>
        <%= form.text_field :ldap_group, required: true, class: "input_text_field" %>
      </div>

      <div class="mt-2">
        <%= form.submit class: "secondary_blue_button" %>
        <%= link_to units_path do %>
          <span class="tertiary_button">Cancel
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
