<%= form_with(model: unit, class: "contents") do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
        <% unit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="sm:flex gap-2 items-end mb-2">
    <div>
      <%= form.label :name, "Name *", class: "fancy_label"  %>
      <%= form.text_field :name, class: "input_text_field" %>
    </div>

    <div class="">
      <%= form.label :ldap_group, "Ldap Group *", class: "fancy_label"  %>
      <%= form.text_field :ldap_group, class: "input_text_field" %>
    </div>

    <div class="">
    <% if unit.new_record? %>
      <%= form.submit "Create Unit", class: "secondary_blue_button" %>
    <% else %>
      <%= form.submit "Save" %>
      <%= link_to "Cancel", @unit %>
    <% end %>
    </div>
  </div>
<% end %>
