<div id="<%= dom_id student %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Uniqname:</strong>
    <%= student.uniqname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= student.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= student.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mvr expiration date:</strong>
    <%= student.mvr_expiration_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Class training date:</strong>
    <%= student.class_training_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Canvas course complete date:</strong>
    <%= student.canvas_course_complete_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meeting with admin date:</strong>
    <%= student.meeting_with_admin_date %>
  </p>

</div>
