<%= turbo_frame_tag "#{dom_id student}" do %>
  <div class="mt-2">
    <p class="body-sm-bold-text">
      <%= student.display_name %>
    </p>
    <div class="py-2">
      <% if student.registered %>
        <p class="body-lg-bold-text inline">
          Course:
        </p>
        <p class="body-lg-text ml-2 inline">
          <%= show_course(student) %>
        </p>
      <% end %>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        MVR Status:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= student.mvr_status %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Canvas Course Complete Date:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= show_date(student.canvas_course_complete_date) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        In Person Orientation Date:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= show_date(student.meeting_with_admin_date) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Phone Number:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= student.phone_number %>
      </p>
    </div>

  </div>
<% end %>
