<div class="w-full">
  <div class="flex flex-row items-center justify-between mb-4">
    <div>
      <h1>Student List</h1>
    </div>
    <div class="flex flex-row justify-between gap-2">
      <div>
        <% if @student_program.not_course %>
          <%= link_to 'Update Student List', add_students_path(@student_program), class: "secondary_blue_button" %>
        <% else %>
          <%= link_to 'Update Student List', update_student_list_path(@student_program), class: "secondary_blue_button" %>
        <% end %>
      </div>
      <div>
        <%= link_to 'Update MVR status', update_mvr_status_path(@student_program), class: "secondary_blue_button" %>
      </div>
      <div>
        <%= link_to 'Update Canvas status', canvas_results_path(@student_program), class: "secondary_blue_button" %>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <label class="body-lg-bold-text">
      Program:
    </label>
    <%= link_to @student_program.display_name, program_path(@student_program), class: "link_to" %>
  </div>

  <%= render "student_list" %>
</div>
