<div class="w-full">
  <div class="flex flex-row items-center justify-between mb-4">
    <div>
      <h1>Student List</h1>
    </div>
    <div class="lg:flex flex-row justify-between gap-2 whitespace-nowrap">
      <% if Term.current_and_future.include?(@student_program.term) %>
        <div class="my-2">
          <% if policy(Student).update_student_list? %>
            <% if @student_program.not_course %>
              <%= link_to 'Add Students', add_students_path(@student_program), class: "secondary_blue_button" %>
            <% else %>
              <%= link_to 'Refresh Student List', update_student_list_path(@student_program), class: "secondary_blue_button" %>
              <%= link_to 'Add Students', add_students_path(@student_program), class: "secondary_blue_button" %>
            <% end %>
          <% end %>
        </div>
        <% if policy(Student).update_mvr_status? %>
          <div class="my-2">
            <%= link_to 'Update MVR Status', update_mvr_status_path(@student_program), class: "secondary_blue_button" %>
          </div>
        <% end %>
        <% if false %>
          <div class="my-2">
            <%= link_to 'Update Canvas Status', canvas_results_path(@student_program), class: "secondary_blue_button" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <p class="mb-2 body-lg-bold-text inline">
    Program:
  </p>
  <%= link_to @student_program.display_name_with_title, program_path(@student_program), class: "link_to" %>

  <%= render "student_list" %>
  <div class="mt-2">
    <%= link_to program_students_path(@student_program, format: 'csv'), class: "link_to" do %>
      Export to CSV
    <% end %>
  </div>
      
      
</div>
