<div class="w-full">
  <div class="flex flex-row items-center justify-between m-2">
    <div>
      <h1> Student List</h1>
    </div>
    <div class="flex flex-row justify-between gap-2">
      <div>
        <%= link_to 'Update Student List', update_student_list_path(@student_program), class: "secondary_blue_button" %>
      </div>
      <div>
        <%= link_to 'Update MVR status', update_mvr_status_path(@student_program), class: "secondary_blue_button" %>
      </div>
      <div>
        <%= link_to 'Update Canvas status', canvas_results_path(@student_program), class: "secondary_blue_button" %>
      </div>
    </div>
  </div>

  <p class="my-5">
  <strong class="block font-medium mb-1">Program:</strong>
  <%= link_to @student_program.display_name, program_path(@student_program), class: "link_to" %>
  </p>

  <%= render "student_list" %>
</div>
