<div class="mx-auto w-full">
  <h1><%= @student_program.display_name_with_title %></h1>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <%= render @student %>
    <div class="lg:grid lg:justify-items-end whitespace-nowrap">
      <% if Term.current_and_future.include?(@student_program.term) %>
        <div class="py-2">
          <%= link_to 'Edit Student', edit_program_student_path(@student_program, @student), class: "primary_button" %>
        </div>
        <div class="py-2">
          <%= link_to 'Update MVR Status', update_student_mvr_status_path(@student_program, @student), class: "secondary_blue_button" %>
        </div>
        <% if false %>
          <div class="py-2">
            <%= link_to 'Update Canvas Status', student_canvas_result_path(@student_program, @student), class: "secondary_blue_button" %>
          </div>
        <% end %>
      <% end %>
      <div class="py-2">
        <%= link_to 'Back to Student List', program_students_path(@student_program, :update => 'no_update'), class: "secondary_blue_button" %>
      </div>
    </div>
  </div>
  
</div>
<% if is_admin?(current_user) %>
  <div class="container p-2 rounded-lg shadow-lg text-xl mb-20 bg-gray-50">
    <h2 class="mb-4">Notes:</h2>
    <%= render partial: "notes/form", locals: { note: Note.new, noteable: @student } %>

    <%= turbo_stream_from @student, :notes %>
    <%= tag.div id: "#{dom_id(@student)}_notes" do %>
      <%= render @student.notes %>
    <% end %>
  </div>
<% end %>
