<%= turbo_frame_tag 'student_phone' do %>
  <div class="py-2">
    <% if @student.phone_number.present? %>
      <i class="fa-solid fa-check"></i>
      <p class="body-sm-semibold-text ml-2 inline">
        Pnohe Number:
      </p>
      <div class="flex">
        <div>
          <p class="body-sm-text ml-2 pt-1">
            <%= @student.phone_number %>
          </p>
        </div>
        <%= link_to edit_phone_path(@student, edit: true), class: "link_to" do %>
          <span class="body-sm-text ml-2">
            Edit
            <i class="fa-solid fa-pen"></i>
          </span>
        <% end %>
      </div>
    <% else %>
      <%= render "phone_form", student: @student %>
    <% end %>
    <% if params[:edit] == "true" %>
      <%= render "phone_form", student: @student %>
    <% end %>
  </div>
<% end %>