<div class="card_area">
  <h3>Contact information</h3>
  <p class="body-md-text">
    <%= @contact_data.each do |id, data| %>
      <%= Unit.find(id).name %>
      <br>
      <% data.each do |contact| %>
        <%= contact['name'].titleize %> - <%= contact['value'] %>
        <br>
      <% end %>
      end of unit<br>
    <% end %>
    end of all <br>
  </p>
  
  <% if @student.present? %>
    <h3>Things to complete</h3>
    <div class="py-2">
      <label class="body-sm-bold-text">
        Mvr Status:
      </label>
      <p class="body-sm-text ml-2">
        <% if @student.mvr_status.present? %>
          <%= @student.mvr_status %>
        <% else %>
          Get your <%= link_to 'license approved', 'https://ltp.fo.umich.edu/mvr/index.php', class: "link_to" %> 
        <% end %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-sm-bold-text">
        Canvas Course Complete Date:
      </label>
      <p class="body-sm-text ml-2">
      <% if @student.canvas_course_complete_date.present? %>
        Completed <%= show_date(@student.canvas_course_complete_date) %>
        <% else %>
          Take <%= link_to 'Canvas Course', @student.program.canvas_link, :target => "_blank", class: "link_to" %>
        <% end %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-sm-bold-text">
        Class Training Date:
      </label>
      <p class="body-sm-text ml-2">
        Completed <%= show_date(@student.class_training_date) %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-sm-bold-text">
        Meeting with Admin Date:
      </label>
      <p class="body-sm-text ml-2">
        Completed <%= show_date(@student.meeting_with_admin_date) %>
      </p>
    </div>
  <% end %>
</div>