<%= turbo_frame_tag 'student_reservations' do %>
  <h3 class="my-2">Past Reservatons</h3>
  <div class="min-w-full">
    <table class="mi_table">
      <thead class="border border-l-0 border-r-0 border-gray-um60">
        <tr>
          <th class="header_th">Reservation</th>
          <th class="header_th">Pick-up</th>
          <th class="header_th">Drop-off</th>
          <th class="header_th">Site</th>
          <th class="header_th">Car</th>
          <th class="header_th">Vehicle Report</th>
        </tr>
      </thead>
      <tbody>
        <% @reservations_past.each do |reservation| %>
          <tr>
            <% if reservation.driver == @student %>
              <td class="mi_tbody_td">
                <%= link_to 'Driver', reservation_path(reservation), class: "link_to" %>
              </td>
            <% elsif reservation.backup_driver == @student %>
              <td class="mi_tbody_td">
                <%= link_to 'Backup Driver', reservation_path(reservation), class: "link_to" %>
              </td>
            <% else %>
              <td class="mi_tbody_td">
                <%= link_to 'Passenger', reservation_path(reservation), class: "link_to" %>
              </td>
            <% end %>
            <td class="mi_tbody_td">
            <%= show_date_time(reservation.start_time) %>
            </td>
            <td class="mi_tbody_td">
              <%= show_date_time(reservation.end_time) %>
            </td>
            <td class="mi_tbody_td">
              <%= reservation.site.title %>
            </td>
            <td class="mi_tbody_td">
              <%= show_car(reservation) %>
            </td>
            <td class="mi_tbody_td">
              <% if reservation.vehicle_report.present? %>
                <%= link_to 'Vehicle report', vehicle_report_path(reservation.vehicle_report), class: "link_to" %>
              <% else %>
                <%= link_to 'New vehicle report', new_reservation_vehicle_report_path(reservation), class: "link_to" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
