<div class="container px-1 mb-20" data-controller='autosubmit'>
  <h1>Welcome <%= current_user.display_name %></h1>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="col-span-3">
      <div>
        <p class="body-sm-text mx-2">
          <%= @unit_names %> Units provide vehicles for individuals and groups to use for getting to and from their site placements for specific programs.
          To be eligible, sites must not be accessible by walking, MBus, or AATA bus.
          Drivers will complete the Transportation Canvas Course that covers all the details for registering as a driver for your psychology course.
          Completing these modules & quiz will prepare you to use and reserve a vehicle to get to your site.
          Once you’ve submitted your Motor Vehicle Report request and it’s been approved, as well as completed the Transportation Canvas Course and
          In Person Transportation Orientation, you will be approved to reserve vehicles.
        </p>
      </div>
      <div class="my-4">
        <%= form_with url: welcome_pages_student_path, method: :get, class: "", data: { autosubmit_target: "form", turbo_frame: "turbo-programs" } do |form| %>
          <% if @students.count > 1 %>
            <div class="">
              <label for="student_id" class="fancy_label">Select a Program</label>
              <%= form.select "student_id", options_for_select(@students_data, selected: params[:student_id]), {include_blank: "All Programs"}, {class: "filter_select w-full",
                :"data-action" => "change->autosubmit#search"} %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if @program.present? && @student.canvas_course_complete_date.nil? %>
        <p class="body-sm-text mx-2 mt-4">
          If you have not yet completed these steps, please click the link below to begin the Canvas Course.
          Take <%= link_to 'Course', @student.program.canvas_link, :target => "_blank", class: "link_to" %>
        </p>
      <% end %>
      </p>
      <div class="my-8 whitespace-nowrap">
        <% if @student.present? && max_day_for_reservation(@student.program) > default_reservation_for_students(@student.program.unit.id) %>
          <%= link_to "One Day Reservation", new_reservation_path(:student_id => @student.id), class: "secondary_blue_button" if @student.can_reserve_car? %>
          <%= link_to "Over-Night Reservation", new_long_reservation_path(:student_id => @student.id), class: "secondary_blue_button" if @student.can_reserve_car? %>
        <% end %>
      </div>
      <div class="my-2">
        <% if @program.present? %>
          <h2><%= @program.display_name_with_title_and_unit %></h2>
        <% end %>
        <div>
          <% if @reservations_current.present? %>
            <%= render 'student_reservations_current' %>
          <% end %>
        </div>
        <div>
          <% if @reservations_future.present? %>
            <%= render 'student_reservations_future' %>
          <% end %>
        </div>
        <div>
          <% if @reservations_past.present? %>
            <%= render 'student_reservations_past' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="order-first md:order-last card_area">
      <%= render 'student_status_card' %>
    <div>
  <div>
</div>
