<div class="container px-1 mb-20" data-controller='autosubmit'>
  <h1 class="m-4">Welcome <%= current_user.display_name %></h1>
  <div class="my-4">
    <%= form_with url: welcome_pages_student_path, method: :get, class: "", data: { autosubmit_target: "form", turbo_frame: "turbo-programs" } do |form| %>
      <% if @students.count > 1 %>
        <div class="">
          <label for="student_id" class="fancy_label">Select a Program</label>
          <%= form.select "student_id", options_for_select(@students_data, selected: params[:student_id]), {include_blank: "All Programs"}, {class: "filter_select w-1/2",
            :"data-action" => "change->autosubmit#search"} %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="grid md:grid-cols-4 gap-2">
  <div class="col-span-3">
    <p class="body-sm-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div class="my-8">
      <% if @student.present? %>
        <%= link_to "Reserve Car", new_reservation_path(:student_id => @student.id), class: "secondary_blue_button" if @student.can_reserve_car? %>
      <% end %>
    </div>
    <% if @program.present? %>
      <h2 class="m-4"><%= @program.display_name_with_title_and_unit %></h2>
     <% end %>
    <div>
      <% if @reservations_future.present? %>
        <%= render 'student_reservations_future' %>
      <% end %>
    </div>
    <div>
      <% if @reservations_past.present? %>
        <%= render 'student_reservations_past' %>
      <% end %>
    </div>
  </div>
  <%= render 'status_card' %>
</div>
