<div class="grid grid-cols-1 lg:grid-cols-2">
  <div class="">
    <p class='body-sm-bold-text <%= "#{car.status}" %>'>
      <%= car.status.titleize %>
    </p>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Unit:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= car.unit.name %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Make:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= car.make %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Model:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= car.model %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Color:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= car.color %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Number of Seats:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= car.number_of_seats %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Mileage:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= car.mileage %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
      Fuel %:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= show_percentage(car.gas) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Parking Spot:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= car.parking_spot %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Last Driver:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= show_last_driver(car) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Last Used:
      </p>
      <p class="body-lg-text pl-2 inline">
        <%= show_date(car.last_used) %>
      </p>
    </div>
  </div>
  <div>
    <% if car.initial_damages.attached? %>
      <p class="body-md-bold-text m-4">Images of initial damage currently uploaded:</p>
      <ul class="list-none grid grid-cols-2 gap-x-4 gap-y-8 px-4 mb-2">
        <% car.initial_damages.order(created_at: :desc).each do |image| %>
          <li class="relative">
            <div class="flex flex-col">
              <div class="group block w-full h-40 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
                <%= image_tag image.variant(:thumb), alt: "initial_damage_#{image.id}", class: "object-cover h-full w-full group-hover:opacity-75" %>
              </div>
              <p alertclass="body-sm-text pt-2">
                Uploaded on <%= show_date_time(image.created_at) %>
              </p>
              <div>
                <% if policy(Car).delete_file? %>
                  <%= link_to delete_file_path(image), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                    <span class="tertiary_button">Remove
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<p class="body-sm-text m-2">
  <%= updated_on_and_by(@car) %>
</p>
