<div class="grid grid-cols-1 sm:grid-cols-2">
  <div class="">
    <p class='body-sm-bold-text <%= "#{car.status}" %>'>
      <%= car.status.titleize %>
    </p>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Unit:
      </label>
      <p class="body-lg-text inline-block">
        <%= car.unit.name %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Make:
      </label>
      <p class="body-lg-text inline-block">
        <%= car.make %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Model:
      </label>
      <p class="body-lg-text inline-block">
        <%= car.model %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Color:
      </label>
      <p class="body-lg-text inline-block">
        <%= car.color %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Number of Seats:
      </label>
      <p class="body-lg-text inline-block">
        <%= car.number_of_seats %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Mileage:
      </label>
      <p class="body-lg-text inline-block">
        <%= car.mileage %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Gas %:
      </label>
      <p class="body-lg-text inline-block">
        <%= show_percentage(car.gas) %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Parking Spot:
      </label>
      <p class="body-lg-text inline-block">
        <%= car.parking_spot %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Last Driver:
      </label>
      <p class="body-lg-text inline-block">
        <% if car.last_driver_id.present? %>
          <%= car.last_driver_id %>
        <% end %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Last Used:
      </label>
      <p class="body-lg-text inline-block">
        <%= show_date(car.last_used) %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Last Used:
      </label>
      <p class="body-lg-text inline-block">
        <%= show_date(car.last_used) %>
      </p>
    </div>
  </div>
  <div>
    <% if car.initial_damages.attached? %>
      <div class="">
        <p class="body-md-bold-text m-4">Images of initial damage currently uploaded:</p>
        <div>
          <ul class="list-none grid grid-cols-2 gap-x-4 gap-y-8 px-4 mb-2">
            <% car.initial_damages.order(created_at: :desc).each do |image| %>
              <li class="relative">
                <div class="flex flex-col">
                  <div class="group block w-full h-40 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
                    <%= image_tag image.variant(:thumb), class: "object-cover h-full w-full group-hover:opacity-75" %>
                  </div>
                  <p alertclass="body-sm-text pt-2">
                    Uploaded on <%= show_date_time(image.created_at) %>
                  </p>
                  <div>
                    <% if policy(Car).delete_file? %>
                      <%= link_to delete_file_path(image), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                        <span class="tertiary_button">Remove
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p class="body-sm-text m-2">
  <%= updated_on_and_by(@car) %>
</p>
