<div class="">
  <div class="">
    <div class="body-bold-text">
      <%= car.status %>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Make:
      </label>
      <div class="body-lg-text inline-block">
        <%= car.make %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Model:
      </label>
      <div class="body-lg-text inline-block">
        <%= car.model %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Color:
      </label>
      <div class="body-lg-text inline-block">
        <%= car.color %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Number of Seats:
      </label>
      <div class="body-lg-text inline-block">
        <%= car.number_of_seats %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Mileage:
      </label>
      <div class="body-lg-text inline-block">
        <%= car.mileage %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Gas:
      </label>
      <div class="body-lg-text inline-block">
        <%= car.gas %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Parking Spot:
      </label>
      <div class="body-lg-text inline-block">
        <%= car.parking_spot %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Last Driver:
      </label>
      <div class="body-lg-text inline-block">
        <%= car.last_driver %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Last Used:
      </label>
      <div class="body-lg-text inline-block">
        <%= show_date(car.last_used) %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Last Checked
      </label>
      <div class="body-lg-text inline-block">
        <%= show_date(car.last_checked) %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Last Used:
      </label>
      <div class="body-lg-text inline-block">
        <%= show_date(car.last_used) %>
      </div>
    </div>

    <div class="py-2">
      <label class="body-lg-medium-text">
        Updated By
      <div class="body-lg-text inline-block">
        <%= show_user_name_by_id(car.updated_by) %>
      </div>
    </div>


  </div>
</div>

