<%= form_with model: [@car],
  data: { controller: "createcar",
          target: "form",
          action: "submit->createcar#submitForm"
        } do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation" class="text-red-umred px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>
      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 sm:grid-cols-2">
    <div>
      <% if @unit_id.present? %>
        <input type="hidden" id="unit_id" name="car[unit_id]" value=<%= @unit_id %> data-createcar-target="unit">
      <% else %>
        <div class="my-5">
          <%= form.label :unit_id, 'Unit *', class: "fancy_label" %>
          <%= form.collection_select :unit_id, @units, :id, :name, { include_blank: "Select ...", required: true }, { class: "input_text_field", "data-createcar-target": "unit", "data-action": "change->createcar#changeUnit"} %>
        </div>
      <% end %>
      <div class="error_text" id="unit_error_place">
      </div>

      <div class="my-5">
        <%= form.label :car_number, 'Car Number *', class: "fancy_label" %>
        <%= form.text_field :car_number, required: true, placeholder: "Car Number", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :make, 'Make *', class: "fancy_label" %>
        <%= form.text_field :make, required: true, placeholder: "Make", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :model, 'Model *', class: "fancy_label" %>
        <%= form.text_field :model, required: true, placeholder: "Model", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :color, 'Color *', class: "fancy_label" %>
        <%= form.text_field :color, required: true, placeholder: "Color", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :number_of_seats, 'Number of Seats *', class: "fancy_label" %>
        <%= form.number_field :number_of_seats, required: true, placeholder: "Number of seats", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :mileage, 'Mileage *', class: "fancy_label" %>
        <%= form.number_field :mileage, step: 0.01, required: true, placeholder: "000.00", class: "input_text_field" %>
      </div>

      <div class="my-5">
      <%= form.label :gas, 'Percent of Fuel Remaining *', class: "fancy_label"  %>
      <%= form.select(:gas, options_for_select(gas_percent, @car.gas), { include_blank: "Select ..." }, { class: "input_text_field", "data-createcar-target": "gas" }) %>
    </div>

    <div class="error_text" id="gas_error">
    </div>

    <% if @other_parking %>
      <div class="my-5">
        <%= label_tag 'car_parking_spot', 'Parking Spot *', class: "fancy_label" %>
        <%= form.text_field :parking_spot, placeholder: "Parking Spot", class: "input_text_field", required: true %>
      </div>
    <% else %>
      <% if @car.persisted? %>
        <div class="py-2" id="current_parking">
          <label class="body-lg-bold-text">
            Current Parking Spot:
          </label>
          <p class="body-lg-text ml-2 inline-block">
            <%= @car.parking_spot  %>
          </p>
        </div>
      <% end %>
      <div data-createcar-target="parking_spot_div" class="my-5 fields--display">
        <%= label_tag 'parking_spot_select', 'Parking Spot *', class: "fancy_label" %>
        <%= select_tag "parking_spot_select", options_for_select(@parking_locations, @car.parking_spot), include_blank: "Select ...", class: "input_text_field",
          "data-createcar-target": "parking_spot", "data-action": "createcar#otherParking" %>
      </div>
      <div data-createcar-target="parking_other_div" class="my-5 fields--hide">
        <%= label_tag 'parking_spot', 'Other Parking Spot *', class: "fancy_label" %>
        <%= text_field_tag(:parking_spot, nil, { class: "input_text_field", placeholder: "Parking Spot", "data-createcar-target": "parking_other"}) %>
      </div>
    <% end %>
      <div class="error_text" id="parking_spot_error_place">
      </div>
      <div class="error_text" id="parking_other_error_place">
      </div>

      <%= form.hidden_field :updated_by, value: current_user.id %>

      <div class="my-5">
        <%= form.label :status, 'Status *', class: "fancy_label" %>
        <%= form.select :status, @statuses.map{ |key| [key.titleize, key] }, { selected: @car.status || :available }, { class: "input_text_field" } %>
      </div>
    </div>
    <div>
      <div id="attached_initial_damages" class="mx-4 my-2">
        <%= form.label :initial_damages, "Initial car images (jpg, png, heic)", class: "text_field_label" %>
        <p class="body-sm-text my-2">
          To upload multiple images select multiple files at once, you can't click Choose Files button several times
        </p>
        <%= form.file_field :initial_damages, multiple: true, class: "file-upload" %>
      </div>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "primary_button" %>
  </div>
  <%= link_to cars_path do %>
    <span class="tertiary_button">Cancel
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  <% end %>
<% end %>
