<%= form_with(model: car, class: "contents") do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 sm:grid-cols-2">
    <div>
      <div class="my-5">
        <%= form.label :car_number, 'Car Number *', class: "fancy_label" %>
        <%= form.text_field :car_number, required: true, placeholder: "Car Number", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :make, 'Make *', class: "fancy_label" %>
        <%= form.text_field :make, required: true, placeholder: "Make", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :model, 'Model *', class: "fancy_label" %>
        <%= form.text_field :model, required: true, placeholder: "Model", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :color, 'Color *', class: "fancy_label" %>
        <%= form.text_field :color, required: true, placeholder: "Color", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :number_of_seats, 'Number of Seats *', class: "fancy_label" %>
        <%= form.number_field :number_of_seats, required: true, placeholder: "Number of seats", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :mileage, 'Mileage *', class: "fancy_label" %>
        <%= form.text_field :mileage, required: true, placeholder: "Mileage", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :gas,  'Gas *',class: "fancy_label" %>
        <%= form.text_field :gas, required: true, placeholder: "Gas", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :parking_spot, 'Parking Spot *', class: "fancy_label" %>
        <%= form.text_field :parking_spot, required: true, placeholder: "Prking spot", class: "input_text_field" %>
      </div>

      <% if car.persisted? %>
        <div class="my-5">
          <%= form.label :last_checked, class: "fancy_label" %>
          <%= form.datetime_field :last_checked, placeholder: "Last checked date", class: "input_text_field" %>
        </div>
      <% end %>
    </div>
    <div>
      <div id="attached_initial_damages" class="mx-4 my-2">
        <%= form.label :initial_damages, "Initial damage images", class: "text_field_label" %>
        <%= form.file_field :initial_damages, multiple: true, class: "file-upload" %>
      </div>
      <% if car.persisted? && car.initial_damages.attached? %>
        <div class="">
          <span class="body-md-bold-text m-4">Images of initial damage currently uploaded:</span>
          <div>
            <ul class="list-none grid grid-cols-2 gap-x-4 gap-y-8 px-4 mb-2">
              <% car.initial_damages.each do |image| %>
                <li class="relative">
                  <div class="flex flex-col">
                    <div class="group block w-full h-40 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
                      <%= image_tag image.variant(:thumb), class: "object-cover h-full w-full group-hover:opacity-75" %>
                    </div>
                    <div>
                      <%= link_to delete_file_path(image), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                        <span class="tertiary_button">Remove
                        <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                      <% end %>
                    </div>
                  </div>
                </li>
                
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "primary_button" %>
  </div>
  <%= link_to cars_path do %>
    <span class="tertiary_button">Cancel
    <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  <% end %>
<% end %>
