<%= turbo_frame_tag 'reservations' do %>
  <div class="min-w-full">
    <table class="mi_table">
      <thead class="border border-l-0 border-r-0 border-gray-um60">
        <tr>
          <th class="header_th">Reservation Date</th>
          <th class="header_th">Site</th>
          <th class="header_th">Program</th>
          <th class="header_th">Reserved By</th>
        </tr>
      </thead>
      <tbody>
        <% @car.reservations.each do |reservation| %>
          <tr class="mi_tbody_tr">
            <td class="mi_tbody_td">
              <%= link_to reservation.reservation_date, reservation_path(reservation.id), class: "link_to", data: { "turbo-frame": "_top" } %>
            </td>
            <td class="mi_tbody_td">
              <%= reservation.site.title %>
            </td>
            <td class="mi_tbody_td">
              <%= reservation.program.display_name %>
            </td>
            <td class="mi_tbody_td">
              <%= reservation.reserved_by %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
