<div class="container px-1 mb-20" data-controller='autosubmit'>

  <div class="flex justify-between items-center pb-4">
    <h1>Cars</h1>
    <%= link_to 'New Car', new_car_path, class: "primary_button" %>
  </div>

  <div>
    <% if current_user.unit_ids.count > 1 %>
      <%= form_with url: cars_path, method: :get, class: "", data: { autosubmit_target: "form", turbo_frame: "turbo-cars" } do |form| %>
        <div class="mb-4">
          <label for="unit_id" class="fancy_label">Select a Unit</label>
          <%= select_tag "unit_id", options_from_collection_for_select(@units, :id, :name, selected: params[:unit_id]), include_blank: "All Units", class: "filter_select w-48",
              :"data-action" => "change->autosubmit#search" %>
        </div>
        <%= turbo_frame_tag "turbo-cars" do %>
          <div id="maincontent"></div>
          <div class="mb-10" id="cars_listing">
            <div id="cars" class="min-w-full">
              <%= render 'car_list' %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div id="cars" class="min-w-full">
        <%= render 'car_list' %>
      </div>
    <% end %>
  </div>
</div>
