<div class="mx-auto w-full">
  <div class="md:flex justify-between items-center pb-4">
    <h1>Car Number: <%= @car.car_number %></h1>
    <% if policy(@car).edit? %>
      <div class="py-2">
        <%= link_to 'Edit Car', edit_car_path(@car), class: "primary_button" %>
      </div>
    <% end %>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="grid lg:col-span-2">
      <%= render @car %>
    </div>
  </div>

  <div class="container p-2 rounded-lg shadow-lg text-xl mb-20 bg-gray-50">
    <h2 class="mb-4">Notes:</h2>
    <% if user_signed_in? && policy(@car).edit? %>
      <%= render partial: "notes/form", locals: { note: Note.new, noteable: @car } %>
    <% end %>

    <%= turbo_stream_from @car, :notes %>
    <%= tag.div id: "#{dom_id(@car)}_notes" do %>
      <%= render @car.notes %>
    <% end %>
  </div>
  <% if policy(@car).edit? %>
    <div>
      <%= render 'reservations_future' %>
      <%= render 'reservations_past' %>
    </div>
  <% end %>
</div>
