<%= form_for [@program_manager_program, @program_manager] do |form| %>


  <div class="my-5">
    <%= form.label :uniqname, class: "fancy_label" %>
    <%= form.text_field :uniqname, required: true, class: "input_text_field" %>
  </div>

  <div class="inline">
    <%= form.submit "Add Manager", class: "secondary_blue_button" %>
  </div>
  <div class="inline">
    <%= link_to program_path(@program_manager_program) do %>
      <span class="tertiary_button">Cancel
      <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    <% end %>
  </div>
<% end %>
