<div id="<%= dom_id site %>">

  <div class="py-2">
    <p class="body-lg-bold-text">
      Address:
    </p>
    <p class="body-lg-text ml-2">
      <%= site.address %>
    </p>
  </div>
  <div class="flex items-center gap-2">
    <div class="py-2">
      <p class="body-lg-bold-text">
        Contacts:
      </p>
        <% @contacts.each do |contact| %>
          <p class="body-lg-text ml-2">
              <%= contact.display_name %>
          </p>
        <% end %>
      </p>
    </div>
    <% if policy(Contact).edit? %>
      <div class="py-2 whitespace-nowrap">
        <%= link_to site_contacts_path(@site) do %>
          <span class="tertiary_button"> 
            Edit Contacts
            <i class="fa-solid fa-pen" aria-hidden="true"></i>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="py-2">
    <p class="body-lg-bold-text">
      Programs:
    </p>
    <% @programs.each do |program| %>
      <div class="ml-2">
        <% if policy(program).edit? %>
          <%= link_to program.display_name_with_title, program_path(program), class: "link_to" %>
        <% else %>
          <p class="body-lg-text">
            <%= program.display_name_with_title %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
  <p class="body-sm-text my-2 ml-4">
    <%= updated_on_and_by(@site) %>
  </p>

</div>
