<div class="mx-auto w-full">
  <div class="lg:flex justify-between items-center">
    <h1>Site: <%= @site.title %></h1>
    <div class="">
      <%= link_to 'Edit Site', edit_site_path(@site), class: "primary_button" %>
    </div>
  </div>
  <div>
    <%= render @site %>
  </div>

  <div class="container p-2 rounded-lg shadow-lg text-xl mb-20 bg-gray-50">
    <h2 class="mb-4">Notes:</h2>
    <% if user_signed_in? %>
      <%= render partial: "notes/form", locals: { note: Note.new, noteable: @site } %>
    <% end %>
    
    <%= turbo_stream_from @site, :notes %>
    <%= tag.div id: "#{dom_id(@site)}_notes" do %>
      <%= render @site.notes %>
    <% end %>
  </div>
</div>
