<%= turbo_frame_tag 'new_passenger_manager' do %>
  <%= form_with url: add_passenger_path, method: :get, class: "",
    data: { controller: "autosubmit", autosubmit_target: "form" } do |form| %>
    <fieldset>
      <legend class="hidden">list of managers</legend>
      <% @managers.each do |manager| %>
        <div>
          <%= label_tag("manager_id_#{manager.id}", nil, class: "hidden") %>
          <%= check_box_tag "id", manager.id, nil, class: "check_box", id: "manager_id_#{manager.id}",
            disabled: @reservation.added_people == @reservation.number_of_people_on_trip,
            :"data-action" => "change->autosubmit#search" %>
          <span class="check_box_text"><%= manager.display_name %><%= show_manager(@reservation.program, manager.uniqname) %></span>
        </div>
      <% end %>
    </fieldset>
    <input type="hidden" id="edit" name="edit" value=<%= params[:edit] %>>
    <input type="hidden" id="recurring" name="recurring" value=<%= params[:recurring] %>>
    <input type="hidden" id="model" name="model" value="manager">

  <% end %>
<% end %>
