<%= turbo_frame_tag 'new_passenger_manager' do %>
  <fieldset>
    <legend class="hidden">list of managers</legend>
    <% @managers.each do |manager| %>
      <div class="flex">
        <% if policy([@reservation, :passenger]).add_driver? %>
          <div class="inline-block">
            <% if manager.can_reserve_car? %>
              <%= form_with url: add_driver_path, method: :get, class: "",
                  data: { controller: "driverspassengers", driverspassengers_target: "form" } do |form| %>
                <%= label_tag("driver_id_#{manager.id}", nil, class: "hidden") %>
                <%= check_box_tag "id", manager.id, nil, class: "check_box", id: "driver_id_#{manager.id}",
                  :"data-action" => "change->driverspassengers#submitForm" %>
                  <input type="hidden" id="edit" name="edit" value=<%= params[:edit] %>>
                  <input type="hidden" id="recurring" name="recurring" value=<%= params[:recurring] %>>
                  <input type="hidden" id="model" name="model" value="manager">
                <% end %>
              <% else %>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <% end %>
          </div>
        <% end %>
        <div>
          <%= form_with url: add_passenger_path, method: :get, class: "",
              data: { controller: "autosubmit", autosubmit_target: "form" } do |form| %>
            <%= label_tag("manager_id_#{manager.id}", nil, class: "hidden") %>
            <%= check_box_tag "id", manager.id, nil, class: "check_box", id: "manager_id_#{manager.id}",
              disabled: @reservation.added_people == @reservation.number_of_people_on_trip,
              :"data-action" => "change->autosubmit#search" %>
            <input type="hidden" id="edit" name="edit" value=<%= params[:edit] %>>
            <input type="hidden" id="recurring" name="recurring" value=<%= params[:recurring] %>>
            <input type="hidden" id="model" name="model" value="manager">
          <% end %>
        </div>
        <div>
          <span class="check_box_text"><%= manager.display_name %><%= show_manager(@reservation.program, manager.uniqname) %></span>
        </div>
      </div>
    <% end %>
  </fieldset>
<% end %>
