<div class="min-w-full">
  <table class="mi_table">
    <thead class="border border-l-0 border-r-0 border-gray-um60">
      <tr>
        <th class="header_th">Uniqname</th>
        <th class="header_th">First Name</th>
        <th class="header_th">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <% @passengers.each do |passenger| %>
        <tr class="mi_tbody_tr">
          <td class="mi_tbody_td">
            <%= passenger.uniqname %>
          </td>
          <td class="mi_tbody_td">
            <%= passenger.first_name %>
          </td>
          <td class="mi_tbody_td">
            <%= passenger.last_name %>
          </td>
          <td class="mi_tbody_td">
            Passenger
          </td>
          <td>
            <%= link_to 'Remove', remove_passenger_path(@reservation, passenger, :student, :edit => params[:edit], :recurring => params[:recurring]), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "link_to" %>
          </td>
        </tr>
      <% end %>
      <% @passengers_managers.each do |passenger| %>
        <tr class="mi_tbody_tr">
          <td class="mi_tbody_td">
            <%= passenger.uniqname %>
          </td>
          <td class="mi_tbody_td">
            <%= passenger.first_name %>
          </td>
          <td class="mi_tbody_td">
            <%= passenger.last_name %>
          </td>
          <td class="mi_tbody_td">
            Passenger
            <%= show_manager(@reservation.program, passenger.uniqname) %>
          </td>
          <td>
            <%= link_to 'Remove', remove_passenger_path(@reservation, passenger, :manager, :edit => params[:edit], :recurring => params[:recurring]), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "link_to" %>
          </td>
        </tr>
      <% end %>
      <tr class="mi_tbody_tr">
        <% if @reservation.driver.present? %>
          <td class="mi_tbody_td">
            <%= @reservation.driver.uniqname %>
          </td>
          <td class="mi_tbody_td">
            <%= @reservation.driver.first_name %>
          </td>
          <td class="mi_tbody_td">
            <%= @reservation.driver.last_name %>
          </td>
          <td class="mi_tbody_td">
            Driver
          </td>
        <% end %>
      </tr>
      <tr class="mi_tbody_tr">
        <% if @reservation.driver_manager.present? %>
          <td class="mi_tbody_td">
            <%= @reservation.driver_manager.uniqname %>
          </td>
          <td class="mi_tbody_td">
            <%= @reservation.driver_manager.first_name %>
          </td>
          <td class="mi_tbody_td">
            <%= @reservation.driver_manager.last_name %>
          </td>
          <td class="mi_tbody_td">
            Driver
            <%= show_manager(@reservation.program, @reservation.driver_manager.uniqname) %>
          </td>
        <% end %>
      </tr>
      <% if @reservation.backup_driver.present? %>
        <tr class="mi_tbody_tr">
          <td class="mi_tbody_td">
            <%= @reservation.backup_driver.uniqname %>
          </td>
          <td class="mi_tbody_td">
            <%= @reservation.backup_driver.first_name %>
          </td>
          <td class="mi_tbody_td">
            <%= @reservation.backup_driver.last_name %>
          </td>
          <td class="mi_tbody_td">
            Backup Driver
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <% if @reservation.program.non_uofm_passengers && @reservation.non_uofm_passengers.present? %>
    <p class="body-sm-text ml-2">
      Non UofM Passengers (<%= @reservation.number_of_non_uofm_passengers %>): <%= @reservation.non_uofm_passengers %>
    </p>
  <% end %>
</div>
