<%= turbo_frame_tag 'new_passenger' do %>
  <%= form_with url: add_passenger_path, method: :get, class: "",
    data: { controller: "autosubmit", autosubmit_target: "form" } do |form| %>
    <fieldset>
      <legend class="hidden">list of students</legend>
      <% @students.each do |student| %>
        <div>
          <%= label_tag("reservation_student_id_#{student.id}", nil, class: "hidden") %>
          <%= check_box_tag "reservation[student_id]", student.id, nil, class: "check_box", id: "reservation_student_id_#{student.id}",
            disabled: @reservation.added_people == @reservation.number_of_people_on_trip,
            :"data-action" => "change->autosubmit#search" %>
          <span class="check_box_text"><%= student.display_name %></span>
        </div>
      <% end %>
    </fieldset>
    <input type="hidden" id="reservation_edit" name="reservation[edit]" value=<%= params[:edit] %>>
  <% end %>
<% end %>
