<%= turbo_frame_tag 'new_passenger' do %>
  <% if @drivers.present? && policy([@reservation, :passenger]).add_driver? %>
    <p class="body-sm-text mb-2">Choose drivers from the list below</p>
    <%= form_with url: add_driver_path, method: :get, class: "",
        data: { controller: "driverspassengers", driverspassengers_target: "form" } do |form| %>
      <fieldset>
        <legend class="hidden">list of drivers</legend>
        <% @drivers.each do |driver| %>
          <div>
            <%= label_tag("driver_id_#{driver.id}", nil, class: "hidden") %>
            <%= check_box_tag "id", driver.id, nil, class: "check_box", id: "driver_id_#{driver.id}",
            disabled: (is_student?(current_user) || is_manager?(current_user)) && !params[:edit].present?,
              :"data-action" => "change->driverspassengers#submitForm" %>
            <span class="check_box_text"><%= driver.display_name %></span>
          </div>
        <% end %>
      </fieldset>
      <input type="hidden" id="edit" name="edit" value=<%= params[:edit] %>>
      <input type="hidden" id="recurring" name="recurring" value=<%= params[:recurring] %>>
      <input type="hidden" id="model" name="model" value="student">
    <% end %>
  <% end %>
  <p class="body-sm-text mt-2 mb-2">Choose passengers from the list below</p>
  <%= form_with url: add_passenger_path, method: :get, class: "",
      data: { controller: "driverspassengers", driverspassengers_target: "form" } do |form| %>
    <fieldset>
      <legend class="hidden">list of students</legend>
      <% @students.each do |student| %>
        <div>
          <%= label_tag("student_id_#{student.id}", nil, class: "hidden") %>
          <%= check_box_tag "id", student.id, nil, class: "check_box", id: "student_id_#{student.id}",
            disabled: @reservation.added_people == @reservation.number_of_people_on_trip,
            :"data-action" => "change->driverspassengers#submitForm" %>
          <span class="check_box_text"><%= student.display_name %></span>
        </div>
      <% end %>
    </fieldset>
    <input type="hidden" id="edit" name="edit" value=<%= params[:edit] %>>
    <input type="hidden" id="recurring" name="recurring" value=<%= params[:recurring] %>>
    <input type="hidden" id="model" name="model" value="student">
  <% end %>
<% end %>
