<div class="mx-auto w-full">
  <h1>Add Passengers</h1>
  <h2>
    <%= @reservation.program.unit.name %>
    <%= @reservation.program.display_name_with_title %>
  </h2>
  <div class="md:flex gap-4">
    <div class="m-2">
      <p class="body-sm-text">
        Maximum number of people allowed - <%= @reservation.number_of_people_on_trip %>
      </p>
      <h3>
        List of Students
      </h3>
      <p class="body-sm-text mb-2">
        Choose passengers from the list below
      </p>
      <%= render "students" %>
    </div>
    <div>
      <% if @reservation.program.non_uofm_passengers %>
        <%= render 'non_uofm_passengers' %>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "number_of_added_people_on_trip" do %>
    <%= render "reservations/number_of_added_people_on_trip" %>
  <% end %>
  
  <div class="m-2">
    <%= turbo_frame_tag "passenger_list" do %>
      <%= render "passenger_list", locals: { reservation: @reservation} %>
    <% end %>
  </div>

  <div class="mt-4">
    <% if params["edit"] == "true" %>
      <%= link_to "Update Passengers", update_passengers_path(@reservation), class: "primary_button" %>
    <% else %>
      <%= link_to "Finish Creating Reservation", finish_reservation_path(@reservation), class: "primary_button" %>
    <% end %>
  </div>
</div>
