<div class="mx-auto w-full">
  <h1>Add Passengers</h1>
  <h2>
    <%= @reservation.program.unit.name %>
    <%= @reservation.program.display_name_with_title %>
  </h2>
  <h3>
    List of Students
  </h3>
  <div class="m-2">
    <%= render "students" %>
  </div>
  <h3>
    List of Passengers - Number of People Allowed on the Trip - <%= @reservation.number_of_people_on_trip %>
  </h3>

  <div class="m-2">
    <%= turbo_frame_tag "passenger_list" do %>
      <% if @reservation.added_people == @reservation.number_of_people_on_trip %>
        <p class="my-5 body-sm-text">
          No space for more passengers in the car - please click Finish Creating Reservation button
        </p>
      <% elsif @reservation.added_people > @reservation.number_of_people_on_trip %>
        <p class="my-5 error_text">
          Too many people added to the trip - remove some of the passengers
        </p>
      <% end %>
      <%= render "passenger_list", locals: { reservation: @reservation} %>
    <% end %>
  </div>

    <% if @reservation.program.non_uofm_passengers %>
      <%= render 'non_uofm_passengers' %>
    <% end %>

  <div class="mt-4">
    <% if params["edit"] == "true" %>
      <%= link_to "Update Passengers", update_passengers_path(@reservation), class: "primary_button" %>
    <% else %>
      <%= link_to "Finish Creating Reservation", finish_reservation_path(@reservation), class: "primary_button" %>
    <% end %>
  </div>
</div>
