<div class="mx-auto w-full">
  <div class="lg:flex justify-between items-center mb-4">
    <div>
      <% if params["edit"] %>
        <h1>Edit Passengers</h1>
      <% else %>
        <h1>Add Passengers</h1>
      <% end %>
        <div>
          <p class="body-lg-bold-text">
            <%= @reservation.program.display_name_with_title %>
          </p>
          <p class="body-lg-medium-text inline">
            <%= @reservation.display_name %> reservation on <%= show_reservation_time(@reservation) %>
          </p>
        </div>
        <% if params["recurring"] == "true" %>
          <div class="mb-2">
            <% recurring_reservation = RecurringReservation.new(@reservation) %>
            <p class="body-lg-bold-text inline">
              Recurring:
            </p>
            <p class="body-lg-text inline">
              Start on <%= show_date(@reservation.start_time) %>
              <%= recurring_reservation.first_reservation.rule.to_s %>
            </p>
          </div>
        <% end %>
        <p class="body-sm-text mt-2">
          Click on the Go Back to Reservation Page button after editing
        </p>
    </div>
    <div class="mt-4 whitespace-nowrap">
      <% if params["edit"] == "true" %>
        <div class="lg:flex lg:flex-col place-items-end whitespace-nowrap">
          <%= link_to "Go Back to Reservation Page", update_passengers_path(@reservation, :recurring => params[:recurring]), class: "primary_button mb-4" %>
          <%= link_to reservation_path(@reservation) do %>
            <span class="tertiary_button">Cancel
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
          <% end %>
        </div>
      <% else %>
        <%= link_to "Finish Creating Reservation", finish_reservation_path(@reservation), class: "primary_button" %>
      <% end %>
    </div>
  </div>

  <h3 class="my-2">
    Reservation Passenger List
  </h3>
  <div class="my-2">
    <p class="body-sm-text">
      Maximum number of people allowed - <%= @reservation.number_of_people_on_trip %>
    </p>
    <%= turbo_frame_tag "number_of_added_people_on_trip" do %>
      <%= render "reservations/number_of_added_people_on_trip" %>
    <% end %>
    <%= turbo_frame_tag "passenger_list" do %>
      <%= render "passenger_list", locals: { reservation: @reservation} %>
    <% end %>
  </div>

  <div class="md:flex gap-8 mt-2">
    <div class="my-2">
      <h3>
        List of Students
      </h3>
      <p class="body-sm-text mb-2">
        Choose passengers from the list below
      </p>
      <%= render "students" %>
    </div>
    <div class="m-2">
      <h3>
        List of Managers
      </h3>
      <p class="body-sm-text mb-2">
        Add managers to passenger list
      </p>
      <%= render 'managers' %>
    </div>
    <div>
      <% if @reservation.program.non_uofm_passengers %>
        <%= render 'non_uofm_passengers' %>
      <% end %>
    </div>
  </div>

</div>
