<%= form_with model: [@reservation, vehicle_report],
  data: { controller: "vehiclereport",
          target: "form",
          action: "submit->vehiclereport#submitForm"
        } do |form| %>

  <% if vehicle_report.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(vehicle_report.errors.count, "error") %> prohibited this vehicle_report from being saved: </h2>
      <ul>
        <% vehicle_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Car: 
    <%= @reservation.car.car_number + " - " + @reservation.program.title %>
  </h2>

  <h3>
    Student status:
    <% if @vehicle_report.student_status %>
    complete
    <% else %>
      not complete
    <% end %>
  </h3>
  <div>

  <%= form.hidden_field :reservation_id, value: @reservation.id %>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <div class="my-5">
          <%= form.label :mileage_start, 'Mileage Start *', class: "fancy_label"  %>
          <%= form.number_field :mileage_start, step: 0.01, required: true, placeholder: "000.00", class: "input_text_field", "data-vehiclereport-target": "mileage_start"  %>
      </div>

      <div class="error_text fields--hide" data-vehiclereport-target="mileage_error">
        <span>End mileage should be higher than start mileage. Please enter a valid value.</span>
      </div>
      
      <div class="my-5">
        <%= form.label :mileage_end, class: "fancy_label" %>
        <%= form.number_field :mileage_end, step: 0.01, class: "input_text_field", placeholder: "000.00", "data-vehiclereport-target": "mileage_end"  %>
      </div>

      <div class="my-5">
          Trip Mileage Total: <%= calculate_mileage(@vehicle_report) %>
      </div>

      <div class="my-5">
        <%= form.label :gas_start, 'Percent of Fuel Remaining (Departure) *', class: "fancy_label"  %>
        <%= form.select(:gas_start, options_for_select(gas_percent, @vehicle_report.gas_start), { include_blank: "Select Gas..." }, { class: "input_text_field", "data-vehiclereport-target": "gas_start" }) %>
      </div>

      <div class="my-5">
        <%= form.label :gas_end, 'Percent of Fuel Remaining (Return)', class: "fancy_label"  %>
        <%= form.select(:gas_end, options_for_select(gas_percent, @vehicle_report.gas_end), { include_blank: "Select Gas..." }, { class: "input_text_field", "data-vehiclereport-target": "gas_end" }) %>
      </div>

      <div class="my-5">
        <%= form.label :parking_spot, 'Parking Spot (depart)', class: "fancy_label"  %>
        <%= form.text_field :parking_spot, placeholder: "Parking Spot (depart)", class: "input_text_field" %>
      </div>

      <div class="my-5">
        <%= form.label :parking_spot_return, 'Parking Spot (return)', class: "fancy_label"  %>
        <%= form.text_field :parking_spot_return, placeholder: "Parking Spot (return)", class: "input_text_field" %>
      </div>
    </div>

    <div class="mb-4 body-lg-bold-text">
      <p>Images (jpg, png)</p>
      <% if @reservation.program.pictures_required_start && !@reservation.program.pictures_required_end %>
        <div class="mt-2">
          <p class="body-sm-text">
            All start images must be uploaded in order to complete form.  
          </p>
      </div>
      <% elsif !@reservation.program.pictures_required_start && @reservation.program.pictures_required_end %>
        <div class="mt-2">
          <p class="body-sm-text">
            All end images must be uploaded in order to complete form.
          </p>
        </div>
      <% elsif @reservation.program.pictures_required_start && @reservation.program.pictures_required_end %>
        <div class="mt-2">
          <p class="body-sm-text">
            All start and end images must be uploaded in order to complete form.
          </p>
        </div>
      <% end %>
      <% if @reservation.program.pictures_required_start %>
        <div class="">
          <% if @vehicle_report.image_front_start.attached? %>
            <div class="sm:col-span-3">
              <%= link_to url_for(@vehicle_report.image_front_start), target: "_blank" do %>
                <%= image_tag @vehicle_report.image_front_start.variant(:thumb), alt: 'Front of car (start)', class: "object-cover group-hover:opacity-75" %>
              <% end %>
              <%= link_to delete_image_path(@vehicle_report, @vehicle_report.image_front_start.id), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                <span class="tertiary_button">Remove
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-span-4">
          <div class="my-5">
            <%= form.label :image_front_start, "Front (start)", class: "fancy_label"  %>
            <%= form.file_field :image_front_start, class: "input_text_field" %>
          </div>
        </div>
        <div class="">
          <% if @vehicle_report.image_driver_start.attached? %>
            <div class="sm:col-span-3">
              <%= link_to url_for(@vehicle_report.image_driver_start), target: "_blank" do %>
                <%= image_tag @vehicle_report.image_driver_start.variant(:thumb),  alt: 'Driver side of car (start)', class: "object-cover group-hover:opacity-75" %>
              <% end %>
              <%= link_to delete_image_path(@vehicle_report, @vehicle_report.image_driver_start.id), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                <span class="tertiary_button">Remove
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-span-4">
          <div class="my-5">
            <%= form.label :image_driver_start, "Driver (start)", class: "fancy_label"  %>
            <%= form.file_field :image_driver_start, class: "input_text_field" %>
          </div>
        </div>
        <div class="">
          <% if @vehicle_report.image_passenger_start.attached? %>
            <div class="sm:col-span-3">
              <%= link_to url_for(@vehicle_report.image_passenger_start), target: "_blank" do %>
                <%= image_tag @vehicle_report.image_passenger_start.variant(:thumb),  alt: 'Passenger side of car (start)', class: "object-cover group-hover:opacity-75" %>
              <% end %>
              <%= link_to delete_image_path(@vehicle_report, @vehicle_report.image_passenger_start.id), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                <span class="tertiary_button">Remove
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-span-4">
          <div class="my-5">
            <%= form.label :image_passenger_start, "Passenger (start)", class: "fancy_label"  %>
            <%= form.file_field :image_passenger_start, class: "input_text_field" %>
          </div>
        </div>

        <div class="">
          <% if @vehicle_report.image_back_start.attached? %>
            <div class="sm:col-span-3">
              <%= link_to url_for(@vehicle_report.image_back_start), target: "_blank" do %>
                <%= image_tag @vehicle_report.image_back_start.variant(:thumb),  alt: 'Back of car (start)', class: "object-cover group-hover:opacity-75" %>
              <% end %>
              <%= link_to delete_image_path(@vehicle_report, @vehicle_report.image_back_start.id), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                <span class="tertiary_button">Remove
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-span-4">
          <div class="my-5">
            <%= form.label :image_back_start, "Back (start)", class: "fancy_label"  %>
            <%= form.file_field :image_back_start, class: "input_text_field" %>
          </div>
        </div>
      <% end %>

      <% if @reservation.program.pictures_required_end %>
        <div class="">
          <% if @vehicle_report.image_front_end.attached? %>
            <div class="sm:col-span-3">
              <%= link_to url_for(@vehicle_report.image_front_end), target: "_blank" do %>
                <%= image_tag @vehicle_report.image_front_end.variant(:thumb), alt: 'Front of car (end)', class: "object-cover group-hover:opacity-75" %>
              <% end %>
              <%= link_to delete_image_path(@vehicle_report, @vehicle_report.image_front_end), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                <span class="tertiary_button">Remove
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-span-4">
          <div class="my-5">
            <%= form.label :image_front_end, "Front (end)", class: "fancy_label"  %>
            <%= form.file_field :image_front_end, class: "input_text_field" %>
          </div>
        </div>
        <div class="">
          <% if @vehicle_report.image_driver_end.attached? %>
            <div class="sm:col-span-3">
              <%= link_to url_for(@vehicle_report.image_driver_end), target: "_blank" do %>
                <%= image_tag @vehicle_report.image_driver_end.variant(:thumb),  alt: 'Driver side of car (end)', class: "object-cover group-hover:opacity-75" %>
              <% end %>
              <%= link_to delete_image_path(@vehicle_report, @vehicle_report.image_driver_end.id), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                <span class="tertiary_button">Remove
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-span-4">
          <div class="my-5">
            <%= form.label :image_driver_end, "Driver (end)", class: "fancy_label"  %>
            <%= form.file_field :image_driver_end, class: "input_text_field" %>
          </div>
        </div>
        <div class="">
          <% if @vehicle_report.image_passenger_end.attached? %>
            <div class="sm:col-span-3">
              <%= link_to url_for(@vehicle_report.image_passenger_end), target: "_blank" do %>
                <%= image_tag @vehicle_report.image_passenger_end.variant(:thumb),  alt: 'Passenger side of car (end)', class: "object-cover group-hover:opacity-75" %>
              <% end %>
              <%= link_to delete_image_path(@vehicle_report, @vehicle_report.image_passenger_end.id), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                <span class="tertiary_button">Remove
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-span-4">
          <div class="my-5">
            <%= form.label :image_passenger_end, "Passenger (end)", class: "fancy_label"  %>
            <%= form.file_field :image_passenger_end, class: "input_text_field" %>
          </div>
        </div>
        <div class="">
          <% if @vehicle_report.image_back_end.attached? %>
            <div class="sm:col-span-3">
              <%= link_to url_for(@vehicle_report.image_back_end), target: "_blank" do %>
                <%= image_tag @vehicle_report.image_back_end.variant(:thumb),  alt: 'Back of car (end)', class: "object-cover group-hover:opacity-75" %>
              <% end %>
              <%= link_to delete_image_path(@vehicle_report, @vehicle_report.image_back_end.id), data: { turbo_method: :get, turbo_confirm: 'Are you sure?' } do %>
                <span class="tertiary_button">Remove
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-span-4">
          <div class="my-5">
            <%= form.label :image_back_end, "Back (end)", class: "fancy_label"  %>
            <%= form.file_field :image_back_end, class: "input_text_field" %>
          </div>
        </div>
      <% end %>

      <div class="my-5">
        <p class="body-sm-text">
          To upload multiple images select multiple files at once, you can't click Choose Files button several times
        </p>
        <%= form.label :image_damages, "Damage (upload multiple images)", class: "fancy_label" %>
        <%= form.file_field :image_damages, multiple: true, class: "input_text_field" %>
      </div>

      <div class="sm:col-span-3">
        <% if @vehicle_report.image_damages.attached? %>
          <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">
            Other files currently uploaded:
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <% @vehicle_report.image_damages.each do |car_image| %>
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                      <i class="fas fa-paperclip text-gray-400"></i>
                      <span class="ml-2 flex-1 w-0 truncate">
                        <%= link_to car_image.filename, url_for(car_image), target: "_blank" %>
                      </span>
                      <% unless car_image.id.nil? %>
                        <%= image_tag car_image.variant(:thumb),  alt: 'Damage of car', class: "object-cover group-hover:opacity-75" %>
                        <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                          <%= link_to 'Remove', delete_file_path(car_image), data: {turbo_method: :get, turbo_confirm: 'Are you sure?'} %>
                        </button>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </dd>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :comment, class: "fancy_label"  %>
    <%= form.rich_text_area :comment, class: "input_text_field" %>
  </div>

  <% if is_admin?(current_user) %>
    <div class="my-5">
      <%= form.label :admin_comment, class: "fancy_label"  %>
      <%= form.rich_text_area :admin_comment, class: "input_text_field" %>
    </div>
  <% end %>
  
  <% if action_name == "new" %>
    <%= form.hidden_field :created_by, value: current_user.id %>
  <% end %>
  <%= form.hidden_field :updated_by, value: current_user.id %>

  <div class="">
    <%= form.submit class: "primary_button" %>
    <% if action_name == "edit" %>
      <%= link_to vehicle_report_path(vehicle_report) do %>
        <span class="tertiary_button">Cancel
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      <% end %>
    <% end %>
  </div>

<% end %>
