<%= turbo_frame_tag "#{image_field_name}" do %>
  <hr>
  <p class="body-sm-bold-text">
  <%= show_image_name(image_field_name) %>
  </p>
  <div class="md:grid grid-cols-3">
    <div>
      <% if image_name.id.present? %>
        <%= link_to url_for(image_name), target: "_blank" do %>
          <%= image_tag image_name.variant(:thumb), alt: "#{image_field_name}", class: "object-cover group-hover:opacity-75" %>
        <% end %>
        <%= turbo_frame_tag "#{image_field_name}_remove" do %>
          <% unless @vehicle_report.approved %>
            <%= link_to delete_image_path(@vehicle_report, image_name.id, image_field_name), data: { turbo_method: :get, turbo_confirm: 'Are you sure?', turbo_frame: "_top" } do %>
              <span class="tertiary_button">Remove
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% unless @vehicle_report.approved %>
      <div>
        <% if image_name.id.present? %>
          <span class="body-sm-text">Replace image:</span>
        <% else %>
          <span class="body-sm-text">Upload image:</span>
        <% end %>
        <%= form_with(model: @vehicle_report, url: upload_image_path, method: :post, html: { class: "sm:flex sm:items-center" }) do |form| %>
          <div class="flex items-end">
            <%= form.label image_field_name.to_sym, image_field_name.titleize, class: "hidden"  %>
            <%= form.file_field image_field_name.to_sym, class: "body-sm-text" %>
            <%= form.submit 'Save', class: "secondary_blue_button" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render 'image_errors', image_field_name: image_field_name %>
<% end %>
