<p class="body-lg-text mb-2">
  <%= link_to reservation_path(vehicle_report.reservation_id), class: "link_to" do %>
    <span>View reservation <%= show_reservation_time(@reservation) %></span>
  <% end %>
</p>

<p class="body-lg-text mb-2">
  <%= link_to car_path(vehicle_report.reservation.car), class: "link_to" do %>
    Car - <%= vehicle_report.reservation.car.car_number %>
  <% end %>
</p>

<div class="grid grid-cols-1 md:grid-cols-2">
  <div>
    <div class="">
      <% if is_student? && vehicle_report.approved %>
        <p class="body-md-text status-true">
          The report is approved by admins
        </p>
      <% end %>
    </div>

    <%= render 'student_status', vehicle_report: vehicle_report %>

    <% if vehicle_report.gas_end.present?  %>
      <% if vehicle_report.gas_end < 50 %>
        <div class="error_text" data-vehiclereport-target="gas_error">
          <span>The fuel level should be at least 50%. Please refuel.</span>
        </div>
      <% end %>
    <% end %>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Mileage start:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= vehicle_report.mileage_start %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Mileage end:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= vehicle_report.mileage_end %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Trip mileage total:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= calculate_mileage(vehicle_report) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Fuel % (departure):
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= show_percentage(vehicle_report.gas_start) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Fuel % (return):
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= show_percentage(vehicle_report.gas_end) %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Parking spot (depart):
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= vehicle_report.parking_spot %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Parking spot (return):
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= vehicle_report.parking_spot_return %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Comment:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= vehicle_report.comment %>
      </p>
    </div>

    <div class="py-2">
      <p class="body-lg-bold-text inline">
        Created by:
      </p>
      <p class="body-lg-text ml-2 inline">
        <%= User.find(vehicle_report.created_by).display_name %>
      </p>
    </div>

    <div>
      <p class="body-sm-text m-2">
        <%= updated_on_and_by(vehicle_report) %>
      </p>
    </div>

  </div>
  
  <div>
    <p class="body-lg-bold-text mb-2">
      Upload Images
    </p>
    <p class="body-sm-text">
      Images should be in .jpg, .png or .heic format.
    </p>
    <% if @reservation.program.pictures_required_start || @reservation.program.pictures_required_end %>
      <p class="body-sm-text">
        All required images must be uploaded in order to complete the form.
      </p>
    <% end %>
    <% if @reservation.program.pictures_required_start %>
      <p class="body-md-medium-text my-2">
        Start of Reservation Images
      </p>
      <%= render 'image_name', image_name: @vehicle_report.image_front_start, image_field_name: 'image_front_start' %>
      <%= render 'image_name', image_name: @vehicle_report.image_driver_start, image_field_name: 'image_driver_start' %>
      <%= render 'image_name', image_name: @vehicle_report.image_passenger_start, image_field_name: 'image_passenger_start' %>
      <%= render 'image_name', image_name: @vehicle_report.image_back_start, image_field_name: 'image_back_start' %>
    <% end %>
    <% if @reservation.program.pictures_required_end %>
      <p class="body-md-medium-text my-2">
        End of Reservation Images
      </p>
      <%= render 'image_name', image_name: @vehicle_report.image_front_end, image_field_name: 'image_front_end' %>
      <%= render 'image_name', image_name: @vehicle_report.image_driver_end, image_field_name: 'image_driver_end' %>
      <%= render 'image_name', image_name: @vehicle_report.image_passenger_end, image_field_name: 'image_passenger_end' %>
      <%= render 'image_name', image_name: @vehicle_report.image_back_end, image_field_name: 'image_back_end' %>
    <% end %>

    <% if @reservation.program.pictures_required_start || @reservation.program.pictures_required_end %>
      <hr>
      <%= render 'student_status_mobile', vehicle_report: vehicle_report %>
    <% end %>

    <%= render 'images_damage' %>

    <% if is_admin? && @vehicle_report.image_damages.attached? %>
      <%= turbo_frame_tag "damage_form_frame" do %>
        <%= render 'damage_form' %>
      <% end %>
    <% end %>
  </div>
</div>
