<%= turbo_frame_tag 'vehicle_reports' do %>
  <div class="min-w-full">
    <table class="mi_table">
      <thead class="border border-l-0 border-r-0 border-gray-um60">
        <tr>
          <th class="header_th">Item</th>
          <th class="header_th">Reservation</th>
          <th class="header_th">Car number</th>
          <th class="header_th">Mileage start</th>
          <th class="header_th">Mileage end</th>
          <th class="header_th">Gas start</th>
          <th class="header_th">Gas end</th>
          <th class="header_th">Parking spot</th>
          <th class="header_th">Last updated</th>
          <th class="header_th">Status</th>
          <th class="header_th">Student Status</th>
        </tr>
      </thead>
      <tbody>
        <% @vehicle_reports.each do |vehicle_report| %>
          <tr class="mi_tbody_tr">
            <td class="mi_tbody_td">
              <%= link_to vehicle_report.id, vehicle_report_path(vehicle_report), class: "link_to" %>
            </td>
            <td class="mi_tbody_td">
              <%= show_car(vehicle_report.reservation) %>
            </td>
            <td class="mi_tbody_td">
              <%= vehicle_report.reservation_id %>
            </td>
            <td class="mi_tbody_td">
              <%= vehicle_report.mileage_start %>
            </td>
            <td class="mi_tbody_td">
              <%= vehicle_report.mileage_end %>
            </td>
            <td class="mi_tbody_td">
              <%= vehicle_report.gas_start %>
            </td>
            <td class="mi_tbody_td">
              <%= vehicle_report.gas_end %>
            </td>
            <td class="mi_tbody_td">
              <%= vehicle_report.parking_spot %>
            </td>
            <td class="mi_tbody_td">
              <% if vehicle_report.updated_at.present? %>
                <%= vehicle_report.updated_at %>
              <% end %>
            </td>
            <td class="mi_tbody_td <%= "#{vehicle_report.status}" %>">
              <%= vehicle_report.status %>
            </td>
            <td class="mi_tbody_td <%= "#{vehicle_report.student_status}" %>">
              <% if vehicle_report.student_status %>
                Completed
              <% else %>
                Not Completed
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
