<p class="body-lg-text mb-2">
  <%= link_to 'View vehicle reservation', reservation_path(vehicle_report.reservation_id), class: "link_to" %>
</p>

<p class="body-lg-text mb-2">
  <%= link_to car_path(vehicle_report.reservation.car), class: "link_to" do %>
    Car - <%= vehicle_report.reservation.car.car_number %>
  <% end %>
</p>

<div class="grid grid-cols-1 md:grid-cols-2">
  <div>
    <div class="">
      <% if is_student?(current_user) && @vehicle_report.approved %>
        <p class="body-md-text status-true">
          The report is approved by admins
        </p>
      <% end %>
    </div>

    <div class="">
      <p class='body-md-text status-<%= vehicle_report.student_status %>'>
        <%= show_vehicle_report_student_status(vehicle_report) %>
      </p>
    </div>

    <% if vehicle_report.gas_end.present?  %>
      <% if vehicle_report.gas_end <= 50 %>
        <div class="error_text" data-vehiclereport-target="gas_error">
          <span>The fuel level should be at least 50%. Please refuel.</span>
        </div>
      <% end %>
    <% end %>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Mileage start:
      </label>
      <p class="body-lg-text inline-block">
        <%= vehicle_report.mileage_start %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Mileage end:
      </label>
      <p class="body-lg-text inline-block">
        <%= vehicle_report.mileage_end %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Trip mileage total:
      </label>
      <p class="body-lg-text inline-block">
        <%= calculate_mileage(vehicle_report) %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Fuel % (departure):
      </label>
      <p class="body-lg-text inline-block">
        <%= show_percentage(vehicle_report.gas_start) %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Fuel % (return):
      </label>
      <p class="body-lg-text inline-block">
        <%= show_percentage(vehicle_report.gas_end) %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Parking spot (depart):
      </label>
      <p class="body-lg-text inline-block">
        <%= vehicle_report.parking_spot %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Parking spot (return):
      </label>
      <p class="body-lg-text inline-block">
        <%= vehicle_report.parking_spot_return %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Comment:
      </label>
      <p class="body-lg-text inline-block">
        <%= vehicle_report.comment %>
      </p>
    </div>

    <div class="py-2">
      <label class="body-lg-bold-text">
        Created by:
      </label>
      <p class="body-lg-text inline-block">
        <%= User.find(vehicle_report.created_by).display_name %>
      </p>
    </div>

    <div>
      <p class="body-sm-text m-2">
        <%= updated_on_and_by(vehicle_report) %>
      </p>
    </div>

    <% if is_admin?(current_user) %>
      <div class="py-2">
        <label class="body-lg-bold-text">
          Admin Comment:
        </label>
        <p class="body-lg-text inline-block">
          <%= vehicle_report.admin_comment %>
        </p>
      </div>
    <% end %>
  </div>
  
  <div>

  <%= render 'image_name', image_name: @vehicle_report.image_front_start, image_field_name: 'image_front_start' %>
  <%= render 'image_name', image_name: @vehicle_report.image_driver_start, image_field_name: 'image_driver_start' %>
  <%= render 'image_name', image_name: @vehicle_report.image_passenger_start, image_field_name: 'image_passenger_start' %>
  <%= render 'image_name', image_name: @vehicle_report.image_back_start, image_field_name: 'image_back_start' %>

  <%= render 'image_name', image_name: @vehicle_report.image_front_end, image_field_name: 'image_front_end' %>
  <%= render 'image_name', image_name: @vehicle_report.image_driver_end, image_field_name: 'image_driver_end' %>
  <%= render 'image_name', image_name: @vehicle_report.image_passenger_end, image_field_name: 'image_passenger_end' %>
  <%= render 'image_name', image_name: @vehicle_report.image_back_end, image_field_name: 'image_back_end' %>
  


  <% if @vehicle_report.image_back_end.attached? %>
    <div class="sm:col-span-3">
      Back of car (end): <%= link_to @vehicle_report.image_back_end.filename, url_for(@vehicle_report.image_back_end), target: "_blank" %>
      <%= image_tag @vehicle_report.image_back_end.variant(:thumb),  alt: 'Back of car (end)', class: "object-cover group-hover:opacity-75" %>
    </div>
  <% end %>


    <% if @vehicle_report.image_damages.attached? %>
      <div class="">
        <p class="body-md-bold-text m-4">Images (damage):</p>
        <div>
          <ul class="list-none grid grid-cols-2 gap-x-4 gap-y-8 px-4 mb-2">
            <% @vehicle_report.image_damages.order(created_at: :desc).each do |image| %>
              <li class="relative">
                <div class="flex flex-col">
                  <div class="">
                    <%= image_tag image.variant(:thumb), class: "object-cover group-hover:opacity-75" %>
                  </div>
                  <p class="body-sm-text pt-2">
                    Uploaded on <%= show_date_time(image.created_at) %>
                  </p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
