<div class="container px-1 mb-20" data-controller='vehiclereportfilters'>
  <div class="md:flex justify-between items-center whitespace-nowrap pb-4">
    <h1>Vehicle Reports</h1>
    <div class="flex flex-col items-center justify-center body-md-text pt-4">
      <div>
        <%= show_current_terms[0] %>
      </div>
      <div>
        <%= show_current_terms[1] %>
      </div>
    </div>
  </div>
  <div>
    <%= form_with url: vehicle_reports_path, method: :get, data: { vehiclereportfilters_target: "form", turbo_frame: "turbo-vehicle_reports" } do |form| %>
      <div class="md:flex gap-2 mb-4">
        <div class="">
          <% if session[:unit_ids].count > 1 %>
            <label for="unit_id" class="fancy_label">Select a Unit</label>
            <%= select_tag "unit_id", options_from_collection_for_select(@units, :id, :name, selected: params[:unit_id]), include_blank: "All Units", class: "filter_select w-48",
              :"data-action" => "change->vehiclereportfilters#resetCarDriversAndSearch" %>
          <% end %>
        </div>
        <div class="">
          <% if Term.current.present? %>
            <label for="term_id" class="fancy_label">Filter by Term</label>
            <%= select_tag "term_id", options_from_collection_for_select(@terms, :id, :name, selected: params[:term_id]), include_blank: "Current Term", class: "filter_select w-48",
               :"data-action" => "change->vehiclereportfilters#resetCarDriversAndSearch" %>
            <% else %>
              <label for="term_id" class="fancy_label">Select a Term</label>
              <%= select_tag "term_id", options_from_collection_for_select(@terms, :id, :name, selected: params[:term_id]), include_blank: "Select ...", class: "filter_select w-48",
                :"data-action" => "change->vehiclereportfilters#resetCarDriversAndSearch" %>
            <% end %>
        </div>
        <div class="">
          <% if Car.present? %>
            <label for="car_id" class="fancy_label">Filter by Car</label>
            <%= select_tag "car_id", options_from_collection_for_select(@cars, :id, :car_number, selected: params[:car_id]), include_blank: "All Cars", class: "filter_select w-48",
              "data-vehiclereportfilters-target": "car", :"data-action" => "change->vehiclereportfilters#resetDriversAndSearch" %>
          <% end %>
        </div>
        <div class="">
          <% if @drivers.present? %>
            <label for="driver_id" class="fancy_label">Filter by Student Driver</label>
            <%= select_tag "driver_id", options_from_collection_for_select(@drivers, :id, :name, selected: params[:driver_id]), include_blank: "All Student Drivers", class: "filter_select w-48",
              "data-vehiclereportfilters-target": "driverStudent", :"data-action" => "change->vehiclereportfilters#resetCarDriverManagerAndSearch" %>
          <% end %>
        </div>
        <div class="">
          <% if @driver_managers.present? %>
            <label for="driver_manager_id" class="fancy_label">Filter by Manager Driver</label>
            <%= select_tag "driver_manager_id", options_from_collection_for_select(@driver_managers, :id, :name, selected: params[:driver_manager_id]), include_blank: "All Driver Managers", class: "filter_select w-48",
              "data-vehiclereportfilters-target": "driverManager", :"data-action" => "change->vehiclereportfilters#resetCarDriverStudentAndSearch" %>
          <% end %>
        </div>
      </div>

      <div>
        <%= turbo_frame_tag "turbo-vehicle_reports" do %>
          <div id="maincontent"></div>
            <div class="mb-10" id="vehicle_reports_list">
              <div id="vehicle_reports" class="min-w-full">
                <div class="my-2">
                  <%= page_entries_info @vehicle_reports %>
                </div>
                <%= render 'vehicle_reports_list' %>
                <div class="my-2 flex justify-center">
                  <%= paginate @vehicle_reports %>
                </div>
             </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
