<div class="mx-auto w-full">
  <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
    <div>
      <h1 class="mb-4">Vehicle Report: <%= @vehicle_report.id %></h1>
      <% if is_admin?(current_user) %>
        <%= form_with model: @vehicle_report, html: { class: "sm:flex sm:items-center" },
          data: { controller: "autosubmit",
                  autosubmit_target: "form"
                } do |f| %>
          <div class="sm:col-span-4">
            <ol class="switches">
              <li>
                <%= f.check_box :approved, "data-action": "change->autosubmit#search" %>
                <%= f.label :approved do %>
                  <span class="label-text">Approved</span>
                  <span></span>
                <% end %>
              </li>
            </ol>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="lg:grid lg:justify-items-end">
      <% unless @vehicle_report.approved %>
        <div class="my-2">
          <%= link_to vehicle_report_path(@vehicle_report), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete} do %>
            <span class="tertiary_button">Cancel Vehicle Report
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
          <% end %>
        </div>
        <div>
          <%= link_to 'Edit Vehicle Report', edit_vehicle_report_path(@vehicle_report), class: "primary_button" %>
        </div>
      <% end %>
      <div class="mt-2">
        <% if is_admin?(current_user) && @vehicle_report.image_damages.attached? %>
          <%= link_to "Download Fleet Services Damage Form (PDF)", download_vehicle_damage_form_url, class: "secondary_blue_button" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="grid lg:col-span-2">
      <%= render @vehicle_report %>
    </div>
  </div>

  <% if user_signed_in? && is_admin?(current_user) %>
    <div class="container p-2 rounded-lg shadow-lg text-xl mb-20 bg-gray-50">
      <h2 class="mb-4">Admin Comments:</h2>
      <%= render partial: "notes/form", locals: { note: Note.new, noteable: @vehicle_report } %>
    
      <%= turbo_stream_from @vehicle_report, :notes %>
      <%= tag.div id: "#{dom_id(@vehicle_report)}_notes" do %>
        <%= render @vehicle_report.notes %>
      <% end %>
    </div>
  <% end %>
</div>
