<nav class="static bg-blue-900 shadow" data-controller="dropdown">
  <div class="container mx-auto px-4 sm:px-8">
    <div class="flex justify-between h-16">
      <div class="flex-shrink-0 flex items-center">
        <div class="flex">
          <%= link_to root_path do %>
            <div class="flex items-center">
              <div class="inline-block h-8 justify-self-start content-start items-start">
                <%= image_tag 'mlsa.png', alt: 'LSA Logo', height: '35.75', width: '100', class: '' %>
              </div>
              <span class="text-white font text-3xl pl-2 font-sans font-medium">
                Ride Share
              </span>
            </div>
          <% end %>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-4 pl-2">
          <% if user_signed_in? && policy(Program).index? %>
            <div class="header_link">
              <%= link_to "Programs", programs_path, class: "#{class_names(active: current_page?(programs_path))}" %>
            </div>
            <div class="header_link">
              <%= link_to "Cars", cars_path, class: "#{class_names(active: current_page?(cars_path))}" %>
            </div>
            <div class="header_link">
              <%= link_to "Sites", sites_path, class: "#{class_names(active: current_page?(sites_path))}" %>
            </div>
            <div class="header_link">
              <%= link_to "Terms", terms_path, class: "#{class_names(active: current_page?(terms_path))}" %>
            </div>
            <% if policy(Unit).index? %>
              <div class="header_link">
                <%= link_to "Units", units_path, class: "#{class_names(active: current_page?(units_path))}" %>
              </div>
              <div class="header_link">
                <%= link_to "Unit Preferences", unit_preferences_path, class: "#{class_names(active: current_page?(unit_preferences_path))}" %>
              </div>
            <% end %>
            <% if unit_use_faculty_survey(current_user.unit_ids) %>
              <div class="header_link">
                <%= link_to "Faculty Surveys", faculty_surveys_path, class: "#{class_names(active: current_page?(faculty_surveys_path))}" %>
              </div>
            <% end %>
            <div class="header_link">
              <%= link_to "Faculty Survey", faculty_index_path, class: "#{class_names(active: current_page?(faculty_surveys_path))}" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
        <div class="ml-2 relative">
          <% if user_signed_in? %>
            <div class="flex items-center">
              <div class="header_link">
                <%= link_to show_units(current_user), unit_prefs_path, class: "#{class_names(active: current_page?(unit_prefs_path))}" %>
              </div>
              <div class="flex flex-col items-center leading-tight text-sm font-medium text-white">
                <%= current_user.uniqname %>
                <%= button_to destroy_user_session_path, method: :delete, role: "menuitem", data: {turbo: "false"} do %>
                  <div class="sign_button">Sign Out</div>
                <% end %>
              </div>
            <% else %>
              <div>
                <%= button_to user_saml_omniauth_authorize_path, data: {turbo: "false"} do %>
                  <div class="sign_button">Sign In</div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="sm:hidden items-center mt-1">
        <%= render 'layouts/mobile_menu_toggle' %>
      </div>
    </div>
    <%= render 'layouts/mobile_menu_dropdown' %>
  </div>
</nav>
