<nav data-controller="navbar" class="bg-blue-900">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= link_to root_path do %>
            <div class="flex items-center">
              <div class="inline-block h-8 justify-self-start content-start items-start">
                <%= image_tag 'mlsa.png', alt: 'LSA Logo', height: '35.75', width: '100', class: '' %>
              </div>
              <span class="text-white navlogo-sm-text xl:navlogo-text pl-4">
                RIDE SHARE
              </span>
            </div>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="hidden lg:ml-6 lg:block">
            <div class="flex space-x-4">
              <div class="group relative cursor-pointer">
                <div class="flex items-center justify-between">
                  <%= content_tag :span, "Programs", class: "rounded-md px-3 py-2 nav-text xl:nav-lg-text text-white hover:text-yellow-ummaze" if policy(Program).index? || policy(Site).index? || policy(Manager).index? %>
                </div>
                <div class="invisible absolute z-50 flex w-full flex-col bg-blue-umblue py-1 group-hover:visible" onClick="">
                  <%= link_to "All Programs", programs_path, class: "my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" %>
                  <%= link_to "Sites", sites_path, class: "my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if policy(Site).index? %>
                  <%= link_to "Managers", managers_path, class: "my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if policy(Manager).index? %>
                </div>
              </div>
              <div class="group relative cursor-pointer">
                <div class="flex items-center justify-between">
                  <%= content_tag :span, "Reservations", class: "rounded-md px-3 py-2 nav-text xl:nav-lg-text text-white hover:text-yellow-ummaze" if policy(Reservation).index? || policy(VehicleReport).index? || policy(Manager).index? %>
                </div>
                <div class="invisible absolute z-50 flex w-full flex-col bg-blue-umblue py-1 group-hover:visible" onClick="">
                  <%= link_to "Reservations", reservations_path, class:"my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if policy(Reservation).index? %>
                  <%= link_to "Manager Reservations", welcome_pages_manager_path, class: "my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if is_manager?(current_user) %>
                  <%= link_to "Vehicle Reports", vehicle_reports_path, class: "my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if policy(VehicleReport).index? %>
                </div>
              </div>
              <div class="group relative cursor-pointer">
                <div class="flex items-center justify-between">
                  <%= content_tag :span, "Unit Options", class: "rounded-md px-3 py-2 nav-text xl:nav-lg-text text-white hover:text-yellow-ummaze" if policy(Unit).index? || policy(Term).index? || unit_use_faculty_survey?(current_user.unit_ids) || policy(Car).index? %>
                </div>
                <div class="invisible absolute z-50 flex w-full flex-col bg-blue-umblue py-1 group-hover:visible" onClick="">
                  <%= link_to "All Units", units_path, class: "my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if policy(Unit).index? %>
                  <%= link_to "Unit Preferences", unit_prefs_path, class: "my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" %>
                  <%= link_to "View Terms", terms_path, class: "my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if policy(Term).index? %>
                  <%= link_to "Program Surveys", faculty_surveys_path, class: "my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if unit_use_faculty_survey?(current_user.unit_ids) %>
                  <%= link_to "Manager Survey", faculty_index_path, class: "#{class_names(active: current_page?(faculty_surveys_path))}" if faculty_has_survey?(current_user) %>
                  <%= link_to "Cars", cars_path, class: "my-2 block py-1 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if policy(Car).index? %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="hidden lg:ml-6 lg:block">
        <div class="flex items-center">
          <% if user_signed_in? %>
            <div>
              <div class="text-white body-text pb-1">Welcome <%= current_user.display_name.split[0] %></div>
              <%= button_to destroy_user_session_path, method: :delete, data: {turbo: "false"} do %>
                <span class="sign_button body-md-text">Sign Out</span>
              <% end %>
            </div>
          <% else %> 
            <div>
              <div class="text-white body-text pb-1">&nbsp;</div>
              <%= button_to user_saml_omniauth_authorize_path, data: {turbo: "false"} do %>
                <div class="sign_button body-md-text">Sign In</div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="-mr-2 flex lg:hidden">
        <!-- Mobile menu button -->
        <button data-action="click->navbar#toggle" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
    <!-- Mobile menu, show/hide based on menu state. -->
  <div class= "lg:hidden">
    <div data-navbar-target="toggleable" class="hidden " id="mobile-menu">
      <div class="border-t border-gray-700">
        <div class="flex justify-end">
          <div class= "flex flex-row pr-1 z-50">
            <% if user_signed_in? %>
              <div class="text-white body-text pr-2">Welcome <%= current_user.display_name.split[0] %></div>
              <%= button_to destroy_user_session_path, method: :delete, data: {turbo: "false"} do %>
                <div class="sign_button mt-1">Sign Out</div>
              <% end %>
            <% else %> 
              <div>
                <%= button_to user_saml_omniauth_authorize_path, data: {turbo: "false"} do %>
                  <div class="sign_button mt-1">Sign In</div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="pb-3 -mt-10">
          <div class="w-full flex flex-col">
            <div>
              <%= content_tag :span, "Programs", class: "rounded-md py-2 nav-text xl:nav-lg-text text-white" if policy(Program).index? || policy(Site).index? %>
            </div>
            <div class="cursor-pointer flex flex-row justify-start ml-4 bg-blue-umblue py-1" onClick="">
              <%= link_to "All Programs", programs_path, class: "mx-2 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" %>
              <%= link_to "Sites", sites_path, class: "mx-2 nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if policy(Site).index? %>
            </div>
          </div>
          <div class="w-full flex flex-col">
            <div>
              <%= content_tag :span, "Reservations", class: "rounded-md py-2 nav-text xl:nav-lg-text text-white" if policy(Reservation).index? || policy(VehicleReport).index? %>
            </div>
            <div class="cursor-pointer  flex flex-row justify-start ml-4 bg-blue-umblue py-1">
              <%= link_to "Reservations", reservations_path, class:"no-underline mx-2 block nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" %>
              <%= link_to "Vehicle Reports", vehicle_reports_path, class: "mx-2 block nav-sm-text text-white hover:text-yellow-ummaze md:mx-2" if policy(VehicleReport).index? %>
            </div>
          </div>
          <div class="relative w-full flex flex-col">
            <div>
              <%= content_tag :span, "Unit Options", class: "rounded-md py-2 nav-text xl:nav-lg-text text-white" if policy(Unit).index? || policy(Term).index? || unit_use_faculty_survey?(current_user.unit_ids) || policy(Car).index? %>
            </div>
            <div class=" cursor-pointer flex flex-row justify-start ml-4 bg-blue-umblue py-1">
              <%= link_to "All Units", units_path, class: "mx-2 block py-1 nav-sm-text text-white md:mx-2 hover:text-yellow-ummaze" %>
              <%= link_to "Unit Preferences", unit_prefs_path, class: "mx-2 block py-1 nav-sm-text text-white md:mx-2 hover:text-yellow-ummaze" %>
              <%= link_to "View Terms", terms_path, class: "mx-2 block py-1 nav-sm-text text-white md:mx-2 hover:text-yellow-ummaze" if policy(Term).index? %>
              <%= link_to "Faculty Surveys", faculty_surveys_path, class: "mx-2 block py-1 nav-sm-text text-white md:mx-2 hover:text-yellow-ummaze" if unit_use_faculty_survey?(current_user.unit_ids) %>
              <%= link_to "Cars", cars_path, class: "mx-2 block py-1 nav-sm-text text-white md:mx-2 hover:text-yellow-ummaze" if policy(Car).index? %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
