<nav data-controller="navbar" class="bg-blue-900">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= link_to root_path do %>
            <div class="flex items-center">
              <div class="inline-block h-8 justify-self-start content-start items-start">
                <%= image_tag 'mlsa.png', alt: 'LSA Logo', height: '35.75', width: '100', class: '' %>
              </div>
              <span class="text-white navlogo-sm-text pl-4">
                RideShare
              </span>
            </div>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="hidden lg:ml-6 lg:block">
            <div class="flex space-x-4">
              <% if is_admin? %>
                <div class="group relative cursor-pointer">
                  <div class="flex items-center justify-between">
                    <%= content_tag :span, "Programs", class: "nav-top-link" %>
                  </div>
                  <div class="invisible absolute z-50 flex w-full flex-col bg-blue-umblue py-1 group-hover:visible" onClick="">
                    <%= link_to "All Programs", programs_path, class: "nav-sub-link" %>
                    <%= link_to "Sites", sites_path, class: "nav-sub-link" if policy(Site).index? %>
                    <%= link_to "Managers", managers_path, class: "nav-sub-link" %>
                    <%= link_to "Students", students_path, class: "nav-sub-link" %>
                  </div>
                </div>
              <% elsif is_manager? %>
                <div class="header_link">
                  <%= link_to "Programs", programs_path, class: "#{class_names(active: current_page?(programs_path))}" if policy(Program).index? %>
                </div>
              <% end %>
              <% if is_admin? %>
                <div class="group relative cursor-pointer">
                  <div class="flex items-center justify-between">
                    <%= content_tag :span, "Reservations", class: "nav-top-link" %>
                  </div>
                  <div class="invisible absolute z-50 flex w-full flex-col bg-blue-umblue py-1 group-hover:visible" onClick="">
                    <%= link_to "Reservations", reservations_path, class:"nav-sub-link" %>
                    <%= link_to "Vehicle Reports", vehicle_reports_path, class: "nav-sub-link" %>
                    <%= link_to "Canceled", canceled_reservations_path, class: "nav-sub-link" %>
                    <%= link_to "Import", import_reservations_page_path, class: "nav-sub-link" %>
                  </div>
                </div>
              <% elsif is_manager? %>
                <div class="header_link">
                  <%= link_to "Reservations", welcome_pages_manager_path, class: "#{class_names(active: current_page?(welcome_pages_manager_path))}" %>
                </div>
              <% elsif is_student? %>
                <div class="header_link">
                  <%= link_to "Reservations", welcome_pages_student_path, class: "#{class_names(active: current_page?(welcome_pages_student_path))}" %>
                </div>
              <% end %>
              <% if is_admin? %>
                <div class="group relative cursor-pointer">
                  <div class="flex items-center justify-between">
                    <%= content_tag :span, "Unit Options", class: "nav-top-link" %>
                  </div>
                  <div class="invisible absolute z-50 flex w-full flex-col bg-blue-umblue py-1 group-hover:visible" onClick="">
                    <%= link_to "All Units", units_path, class: "nav-sub-link" if policy(Unit).index? %>
                    <%= link_to "Cars", cars_path, class: "nav-sub-link" %>
                    <%= link_to "Program Surveys", faculty_surveys_path, class: "nav-sub-link" if unit_use_faculty_survey?(session[:unit_ids]) %>
                    <%= link_to "System Reports", system_reports_path, class: "nav-sub-link" %>
                    <%= link_to "View Terms", terms_path, class: "nav-sub-link" %>
                    <%= link_to "Unit Preferences", unit_prefs_path, class: "nav-sub-link" %>
                    <%= link_to "Docs", "https://docs.google.com/document/d/e/2PACX-1vRSWQUpQqq7m4yBgevco9dXqZ-JKTFnwzxBQYQYQDUBnIXm9YNzruT1308qhzCT-C3-NJnvlh83jK61/pub", target: "_blank", class: "nav-sub-link" %>
                  </div>
                </div>
              <% elsif is_manager? %>
                <div class="header_link">
                  <%= link_to "Program Surveys", surveys_index_path, class: "#{class_names(active: current_page?(surveys_index_path))}" if faculty_has_survey?(current_user) %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="hidden lg:ml-6 lg:block">
        <div class="flex items-center">
          <% if user_signed_in? %>
            <div>
              <div class="text-white body-sm-text pb-1"><%= current_user.display_name.split[0] %><%= user_role %></div>
              <%= button_to destroy_user_session_path, method: :delete, data: {turbo: "false"} do %>
                <span class="sign_button body-md-text">Log Out</span>
              <% end %>
            </div>
          <% else %> 
            <div>
              <div class="text-white body-sm-text pb-1">&nbsp;</div>
              <%= button_to user_saml_omniauth_authorize_path, data: {turbo: "false"} do %>
                <div class="sign_button body-md-text">Sign In</div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <%# Mobile Nav button %>
      <div class="-mr-2 flex lg:hidden">
        <!-- Mobile menu button -->
        <button data-action="click->navbar#toggle" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <%# end Mobile Nav button %>

    </div>
  </div>


    <!-- Mobile menu, show/hide based on menu state. -->
  <div class= "lg:hidden">

    <div data-navbar-target="toggleable" class="hidden flex-col" id="mobile-menu">

      <div class="border-t border-gray-700">
        <div class="flex justify-center">
          <div class= "flex flex-col pr-1 z-50">
            <% if user_signed_in? %>
              <div class="text-white body-sm-text pr-2"><%= current_user.display_name.split[0] %><%= user_role %></div>
              <%= button_to destroy_user_session_path, method: :delete, data: {turbo: "false"} do %>
                <div class="sign_button_mobile mt-1">Log Out</div>
              <% end %>
            <% else %> 
              <div>
                <%= button_to user_saml_omniauth_authorize_path, data: {turbo: "false"} do %>
                  <div class="sign_button_mobile mt-1">Sign In</div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <% if user_signed_in? %>

        <div class="pb-3 pl-2">
          <div class="w-full flex flex-col">
            <% if is_admin? %>
              <div>
                <%= content_tag :span, "Programs", class: "nav-top-link-mobile" %>
              </div>
              <div class="cursor-pointer flex flex-row justify-start ml-4 bg-blue-umblue py-1" onClick="">
                <%= link_to "All Programs", programs_path, class: "nav-sub-link-mobile" %>
                <%= link_to "Sites", sites_path, class: "nav-sub-link-mobile" %>
                <%= link_to "Managers", managers_path, class: "nav-sub-link-mobile" %>
                <%= link_to "Students", students_path, class: "nav-sub-link-mobile" %>
              </div>
            <% elsif is_manager? %>
              <div class="header_link">
                <%= link_to "Programs", programs_path, class: "#{class_names(active: current_page?(programs_path))}" if policy(Program).index? %>
              </div>
            <% end %>
          </div>
          <div class="w-full flex flex-col">
            <% if is_admin? %>
              <div>
                <%= content_tag :span, "Reservations", class: "nav-top-link-mobile" %>
              </div>
              <div class="cursor-pointer  flex flex-row justify-start ml-4 bg-blue-umblue py-1">
                <%= link_to "Reservations", reservations_path, class:"nav-sub-link-mobile" if policy(Reservation).index? %>
                <%= link_to "Vehicle Reports", vehicle_reports_path, class: "nav-sub-link-mobile" if policy(VehicleReport).index? %>
              </div>
            <% elsif is_manager? %>
              <div class="header_link">
                <%= link_to "Reservations", welcome_pages_manager_path, class: "#{class_names(active: current_page?(welcome_pages_manager_path))}" %>
              </div>
            <% elsif is_student? %>
              <div class="header_link">
                <%= link_to "Reservations", welcome_pages_student_path, class: "#{class_names(active: current_page?(welcome_pages_student_path))}" %>
              </div>
            <% end %>
          </div>
          <div class="relative w-full flex flex-col">
            <% if is_admin? %>
              <div>
                <%= content_tag :span, "Unit Options", class: "nav-top-link-mobile" %>
              </div>
              <div class=" cursor-pointer flex flex-row flex-wrap justify-start ml-4 bg-blue-umblue py-1">
                <%= link_to "All Units", units_path, class: "nav-sub-link-mobile" if policy(Unit).index? %>
                <%= link_to "Cars", cars_path, class: "nav-sub-link-mobile" %>
                <%= link_to "Program Surveys", faculty_surveys_path, class: "nav-sub-link-mobile" if unit_use_faculty_survey?(session[:unit_ids]) %>
                <%= link_to "System Reports", system_reports_path, class: "nav-sub-link-mobile" %>
                <%= link_to "View Terms", terms_path, class: "nav-sub-link-mobile" %>
                <%= link_to "Unit Preferences", unit_prefs_path, class: "nav-sub-link-mobile" %>
                <%= link_to "Docs", "https://docs.google.com/document/d/e/2PACX-1vRSWQUpQqq7m4yBgevco9dXqZ-JKTFnwzxBQYQYQDUBnIXm9YNzruT1308qhzCT-C3-NJnvlh83jK61/pub", target: "_blank", class: "nav-sub-link-mobile" %>
              </div>
            <% elsif is_manager? %>
              <div class="header_link">
                <%= link_to "Program Surveys", surveys_index_path, class: "#{class_names(active: current_page?(surveys_index_path))}" if faculty_has_survey?(current_user) %>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</nav>
